/* POS - plugins page */
body.plugins-php .wp-list-table.plugins tr[data-slug="woocommerce-pos"] .plugin-version-author-uri a {
	display: none;
}

/* POS - order list */
.widefat .type-wc_pos_order .column-order_number a strong {
    background: url('../../images/pos.svg') no-repeat 100% 1px;
}

/* Gift products */
.select2-container {
	width: calc( 100% - 30px ) !important;
}
.ajax-loader {
	display: none;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 5px;
}
.ajax-loader.loading {
	display: inline-block;
}
.ajax-loader::before,
.ajax-loader::after {
    content: "";
    position: absolute;
    border: 3.6px solid transparent;
    border-radius: 50%;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
}
.ajax-loader::after {
    border-top-color: #d2bc8f;
    border-bottom-color: transparent;
    animation: spin 1s linear infinite;
}
.ajax-loader::before {
    border-top-color: #221f20;
    border-bottom-color: transparent;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

/* Order list */
body.post-type-shop_order table.wp-list-table td.order_date.column-order_date time {
    display: none;
}

/* Shop order - Prev-next order box */
.shop-order-next-prev-buttons-container {
    overflow: hidden;
}
.shop-order-next-prev-buttons-container a.admin-post-nav-prev {
    float: left;
    margin-top: 6px;
}
.shop-order-next-prev-buttons-container a.admin-post-nav-next {
    float: right;
    margin-top: 6px;
}

/* User settings */
/* Duplicatable */
.category-product-user-discount.duplicatable {
    margin-bottom: 90px;
    width: 600px;
}

.category-product-user-discount.duplicatable .add-new-row {
    float: right;
}
.category-product-user-discount.duplicatable .add-new-row:after {
    content: "";
    clear: both;
}
.category-product-user-discount.duplicatable .remove-row {
    position: absolute;
    min-width: 20px;
    top: 0;
    right: 0;
}
.category-product-user-discount.duplicatable .remove-row .remove {
    background: #fff;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.category-product-user-discount.duplicatable .duplicatable-element {
    position: relative;
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: left;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.category-product-user-discount.duplicatable .duplicatable-element:nth-child(odd) {
    background-color: #e5e5e5;
}
.category-product-user-discount.duplicatable .duplicatable-element.prototype {
    display: none;
}
.category-product-user-discount.duplicatable .duplicatable-element > div.flex-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.category-product-user-discount.duplicatable .duplicatable-element > div.flex-row .flex {
    margin-right: 30px;
}
.category-product-user-discount.duplicatable .duplicatable-element > div.flex-row .flex:last-of-type {
    margin-right: 0;
}
.category-product-user-discount.duplicatable .duplicatable-element div.flex-1 {
    flex: 1;
}
.category-product-user-discount.duplicatable .duplicatable-element div.flex-2 {
    flex: 2;
}
.category-product-user-discount.duplicatable .duplicatable-element div.flex-3 {
    flex: 3;
}
.category-product-user-discount.duplicatable .duplicatable-element div.flex-4 {
    flex: 4;
}
.category-product-user-discount.duplicatable .duplicatable-element div.flex-5 {
    flex: 5;
}
.category-product-user-discount.duplicatable .duplicatable-element div.flex-6 {
    flex: 6;
}

.category-product-user-discount.duplicatable .duplicatable-element input[type="text"] {
    width: auto;
}
.category-product-user-discount.duplicatable .duplicatable-element h5 {
    margin-top: 0;
    margin-bottom: 5px;
}



/* Popup */
.overlay-wrapper {
    position: fixed;
    background: rgba(34, 31, 32, 0.96);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease
}

.overlay-wrapper.active {
    opacity: 1;
    z-index: 9999
}

div.popup-wrapper {
    position: fixed;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease
}

div.popup-wrapper.active {
    opacity: 1;
    z-index: 10000
}

div.popup-wrapper.add-to-cart-video-popup .inside-box {
    max-width: 97vh
}

div.popup-wrapper .close_btn {
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 10001;
    font-weight: bold;
    border: 1px solid #d2bc8f;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    line-height: 1;
    padding: 10px;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

div.popup-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
}

div.popup-wrapper .inside-box {
    width: 80%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0 20px;
    overflow-y: scroll;
    max-height: 80%;
    max-width: 800px;
}

div.popup-wrapper .inside-box .row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
div.popup-wrapper .inside-box .row:after {
    content: ' ';
    clear: both;
}
div.popup-wrapper .inside-box .row .col {

}
div.popup-wrapper .inside-box .row .col.flex-1 {
    flex: 1;
}
div.popup-wrapper .inside-box .row .col.flex-2 {
    flex: 2;
}
div.popup-wrapper .inside-box .row .col.flex-3 {
    flex: 3;
}
div.popup-wrapper .inside-box .row .col.flex-4 {
    flex: 4;
}
div.popup-wrapper .inside-box .row .col.flex-5 {
    flex: 5;
}
div.popup-wrapper .inside-box .row .col.flex-6 {
    flex: 6;
}
div.popup-wrapper .inside-box .row .col.flex-7 {
    flex: 7;
}
div.popup-wrapper .inside-box .row .col.flex-8 {
    flex: 8;
}
div.popup-wrapper .inside-box .row .col.flex-9 {
    flex: 9;
}
div.popup-wrapper .inside-box .row .col.flex-10 {
    flex: 10;
}
div.popup-wrapper .inside-box .row .col.flex-11 {
    flex: 11;
}

div.popup-wrapper .inside-box h3 {
    color: #d2bc8f;
    font-size: 22px;
    text-align: center;
    line-height: 1.7;
    color: #d2bc8f;
    text-transform: uppercase;
    letter-spacing: 2px
}
div.popup-wrapper .inside-box h4 {
    font-size: 18px;
    margin: 10px 0;
}

div.popup-wrapper .inside-box p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 1.7
}

div.popup-wrapper .inside-box img {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
}

div.popup-wrapper .inside-box table {
    width: 100%;
    text-align: right;
    border-collapse: collapse;
}
div.popup-wrapper .inside-box table tr {
    line-height: 2;
}
div.popup-wrapper .inside-box table tr > th:first-of-type,
div.popup-wrapper .inside-box table tr > td:first-of-type {
    text-align: left;
}
div.popup-wrapper .inside-box table thead tr {
    border-bottom: 2px solid #d2bc8f;
}
div.popup-wrapper .inside-box table tbody tr:nth-child(odd) {
    background-color: #E6E6E6;
}


div.popup-wrapper.invoice-preview .inside-box {
    line-height: 1.7;
}
div.popup-wrapper.invoice-preview .inside-box .row {
    margin-bottom: 30px;
    align-items: center;
}
div.popup-wrapper.invoice-preview .inside-box .button-container {
    border-top: 1px solid #fff;
    background-color: #f7f1e8;
    padding: 20px 15px;
    text-align: right;
    
}
div.popup-wrapper.invoice-preview .inside-box .button-container button {

}


/* DateTimepicker */
body #ui-datepicker-div {
    z-index: 100000;
}