.aw-settings-container {
    background: #ffffff;
    padding: 15px;
}

.aw-settings-section {
	width: 100%;
    max-width: 1000px;
	display: flex;

	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
}

/* Buttons */
.aw-settings-section .button {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.aw-settings-section .button:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}
.aw-settings-section .button:active {
    background: #0073aa;
    border-color: #006799;
    box-shadow: inset 0 2px 0 #006799;
    vertical-align: top;
}
.aw-settings-section .button:focus {
    box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
}

/* Submit button */
.aw-settings-section input[type="submit"]{
    margin-top: 20px;
    display: block;
    width: calc(100% - 20px);
}

/* Menu */
.aw-settings-section .menu-wrapper {
    vertical-align: top;
    padding: 15px 0;
    flex: 1;
}

.aw-settings-section .menu-wrapper ul {
	padding: 0 20px 0 0;
    margin: 0;
}

.aw-settings-section .menu-wrapper ul li {
	border: 1px solid #eeeeee;
    padding: 5px;
    margin: 8px 0;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.aw-settings-section .menu-wrapper ul li.active,
.aw-settings-section .menu-wrapper ul li:hover {
	background: #0085ba;
    color: #ffffff;
    border-color: #0085ba;
}

.aw-settings-section .menu-wrapper ul li:first-of-type {
	margin-top: 0;
}

.aw-settings-section .menu-wrapper ul li i {
	font-size: 18px;
    margin-right: 5px;
    display: inline-block;
}


/* Content */
.aw-settings-section .content-wrapper {
    border-left: 1px solid #eeeeee;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 5;
}

.aw-settings-section .content-wrapper .content-box {
	display: block;
	width: 100%;
	padding: 15px 0;
}

.aw-settings-section .content-wrapper .content-box {
	display: none;
}

.aw-settings-section .content-wrapper .content-box.active {
	display: block;
}

.aw-settings-section .content-wrapper .content-box h3 {
	margin-top: 0;
	margin-bottom: 30px;
}

.aw-settings-section .content-wrapper .content-box h4 {
	margin-top: 0;
    margin-bottom: 10px;
}

.aw-settings-section .content-wrapper .content-box hr {
	border: 0;
    border-top: 1px dotted #aaa;
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aw-settings-section .content-wrapper .content-box .chckbox-box {
    margin: 10px 0 15px;
}

.aw-settings-section .content-wrapper .content-box input[type="text"],
.aw-settings-section .content-wrapper .content-box textarea,
.aw-settings-section .content-wrapper .content-box select {
	width: 100%;
    padding: 3px 8px;
    font-size: 16px;
    line-height: 1.4;
    outline: 0;
    margin: 10px 0;
    display: block;
}
.aw-settings-section .content-wrapper .content-box .mce-container iframe {
    min-height: 300px;
}
.aw-settings-section .content-wrapper .content-box label.full-row {
    display: block;
}

/* Inputs */
.aw-settings-section .content-wrapper .content-box .short input[type="text"] {
	width: 200px;
}
.aw-settings-section .content-wrapper .content-box .middle input[type="text"] {
	width: 400px;
}
.aw-settings-section .content-wrapper .content-box .wp-editor-wrap {
    margin-bottom: 30px;
}

/* Duplicatable rows */
.aw-settings-section .content-wrapper .content-box .duplicatable {
	margin-bottom: 30px;
}

.aw-settings-section .content-wrapper .content-box .duplicatable .add-new-row {
	float: right;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .add-new-row:after {
	content: "";
	clear: both;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .remove-row {
    position: absolute;
    min-width: 20px;
    top: 0;
    right: 0;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .remove-row .remove {
	background: #f1f1f1;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element {
    position: relative;
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: left;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element:nth-child(odd) {
    background-color: #F1F1F1;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element.prototype {
	display: none;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element > div.flex-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element > div.flex-row .flex {
    margin-right: 30px;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element > div.flex-row .flex:last-of-type {
	margin-right: 0;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element div.flex-1 {
	flex: 1;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element div.flex-2 {
	flex: 2;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element div.flex-3 {
	flex: 3;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element div.flex-4 {
	flex: 4;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element div.flex-5 {
	flex: 5;
}
.aw-settings-section .content-wrapper .content-box .duplicatable .duplicatable-element div.flex-6 {
	flex: 6;
}

/* Spinner */
.aw-settings-section .content-wrapper .spinner {
    float: none;
}

.aw-settings-section .content-wrapper .error-container {
    padding: 10px 15px;
    margin: 15px 0;
    background-color: #ffeee9;
    color: #ee0069;
    display: none;
}
.aw-settings-section .content-wrapper .error-container.success {
    background-color: #dcf6e7;
    color: #146636;
}