/* Menu */
.menu-container {
  .bestbrows-menuitem-new-span {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: #d2bc8f;
    color: #fff;
    font-size: 10px;
    line-height: 22px;
    text-align: center;

    &.en {
      font-size: 7px;
    }
  }

  .bestbrows {
    font-weight: 700;
  }
}

/* BestBrows page */
body.bestbrows {
  background-color: #ebe2df;
  
  .link-underline {
    background-color: #866868;
  }
  .subpage-wrapper {
    background-color: #f5ebe8;
    padding-bottom: 0;
  }

  .bestbrows-sec {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eedfd9;
    font-size: 18px;
    font-weight: 400;
  }

  .bestbrows-slider-container {
    background-color: #fcfbf9;
  }

  .bestbrows-slider-video-container.hide {
    display: none;
  }

  .heading-01 {
    margin-top: 100px;
    color: #866868;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .subpage-hero {
    overflow: hidden;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #221f20;
    transition: background-color 1s ease-out;

    &.changed {
      background-color: transparent;
    }
  }
  .floating-boxes-content {
    height: 100%;
    min-height: auto;
    margin-bottom: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .paragraph-big {
    font-size: 24px;
    line-height: 46px;

    &.bestbrows {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  .fullwidth-image-block.bestbrows-big-01 {
    border-top-style: none;
    background-color: #d6cecc;
    background-image: url('../images/bb-big-01.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fullwidth-image-block.bestbrows-big-02 {
    min-height: 500px;
    border-top-style: none;
    background-image: url('../images/bb-big-02.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bestbrows-hero-packshot {
    position: relative;
    left: 0%;
    right: 0%;
    overflow: hidden;
    width: 100%;
    background-image: url('../images/bb-hero-dark.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bestbrows-hero-stuff {
    position: absolute;
    z-index: 43;
    width: 100%;
    opacity: 0;
    transition: opacity 1.3s ease-out;

    &.changed {
      opacity: 1;
    }
  }

  .bestbrows-hero-packages {
    position: absolute;
    z-index: 44;
    width: 100%;
    opacity: 0;
    transition: opacity 1.2s ease-out;

    &.changed {
      opacity: 1;
    }
  }

  .bestbrows-hero-readmore {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 45;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 65px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #5a3c3c;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .bestbrows-hero-readmore.w--current {
    color: #523d3d;
  }

  .bestbrows-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 50;
    width: 100%;
    height: 5000%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #221f20;
  }

  .bestbrows-hero-background {
    width: 100%;
    opacity: 0;
    transition: opacity 1.3s ease-out;

    &.changed {
      opacity: 1;
    }
  }

  .bestbrows-slider {
    width: 100%;
    height: 800px;
    font-size: 0 !important;

    .w-slide {
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .w-slider-dot {
      width: 15px;
      height: 15px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .bestbrow-big-image-mobile {
    display: none;
  }

  .fix-font {
    p {
      font-size: 17.4px;
    }
  }

  .text-logo {
    font-weight: 700;
  }

  .bestbrowsocialflex {
    display: flex;
    align-items: center;

    @media #{$tablet} {
      margin-bottom: 15px;
    }

    @media #{$mobile} {
      margin-bottom: 20px;
    }

    h3.bestbrowssocial {
      margin-bottom: 0;
      padding-right: 30px;
    }

    .nav-item-circle {
      margin: 0px 10px;
      background-color: $white;
    }
  }

  .footer-social {
    display: none;
  }

  @media #{$tablet}, #{$mobile} {
    .bestbrows-sec {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .heading-01 {
      margin-top: 80px;
      margin-bottom: 0px;
      font-size: 32px;
      line-height: 50px;
    }
    .floating-boxes-content {
      padding-right: 60px;
      padding-left: 60px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .paragraph-big {
      line-height: 34px;

      &.bestbrows {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .fullwidth-image-block.bestbrows-big-01 {
      padding-top: 0px;
      padding-bottom: 0px;
      background-image: none;
    }
    .fullwidth-image-block.bestbrows-big-02 {
      min-height: auto;
      padding-top: 0px;
      padding-bottom: 0px;
      background-image: none;
    }
    .bestbrows-slider {
      height: 400px;
      margin-bottom: 15px;
    }
    .bestbrows-video {
      margin-bottom: 15px;
    }
    .bestbrow-big-image-mobile {
      display: block;
    }
  }

  @media #{$mobile} {
    .underline-button {
      margin-bottom: 15px;
    }
    .heading-01 {
      margin-top: 60px;
      font-size: 28px;
      line-height: 40px;
    }
    h3 {
      margin-bottom: 20px;
    }
    .paragraph-big {
      margin-bottom: 0px;
      font-size: 14px;
      line-height: 24px;

      p {
        margin-bottom: 0;
      }
    }
    .paragraph {
      p {
        font-size: 14px;
      }
    }
    .bestbrows-hero-packshot {
      width: 150%;
      margin-left: -24%;
    }
    .bestbrows-hero-readmore {
      display: none;
    }
    .bestbrows-slider {
      height: 300px;
    }
    .bestbrows-slider-left-arrow {
      display: none;
    }
    .bestbrows-slider-right-arrow {
      display: none;
    }
    .bestbrows-slider-nav {
      display: none;
    }
    /* VC */
    .vc_row-has-fill>.vc_column_container>.vc_column-inner {
      padding-top: 20px;
    }
    .fix-col-inner-top.vc_row>.vc_column_container>.vc_column-inner {
      padding-top: 0;
    }
    .remove-background-image-on-mobile {
      background-image: none !important;
    }
    .wpb_single_image.vc_align_center {

    }
  }

  @media #{$thinmobile} {
    .heading-01 {
      margin-top: 40px;
      font-size: 22px;
      line-height: 32px;
    }
    .paragraph-big.bestbrows {
      line-height: 22px;
    }
    .bestbrows-overlay {
      display: none;
    }
    .bestbrows-slider {
      height: 200px;
    }
  }
}
