@font-face {
    font-family: 'annabelle-jf';
    src: url('../fonts/annabellejf-webfont.woff2') format('woff2'),
         url('../fonts/annabellejf-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra-light-webfont.woff2') format('woff2'),
         url('../fonts/effra-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra-regular-webfont.woff2') format('woff2'),
         url('../fonts/effra-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra-medium-webfont.woff2') format('woff2'),
         url('../fonts/effra-medium-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra-light-italic-webfont.woff2') format('woff2'),
         url('../fonts/effra-light-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra-italic-webfont.woff2') format('woff2'),
         url('../fonts/effra-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/effra-bold-italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}