.overlay-wrapper,
.marketing-popup-overlay {
  position: fixed;
  background: rgba(34, 31, 32, 0.96);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  @include transition(all 0.3s ease);

  &.active {
    opacity: 1;
    z-index: 9999;
  }
}

div.popup-wrapper,
div.marketing-popup-wrapper {
  position: fixed;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include transition(all 0.3s ease);

  &.active {
    opacity: 1;
    z-index: 10000;
  }
  &.add-to-cart-video-popup {
    .inside-box {
      max-width: 97vh;
      .bl-logo {
        @media #{$tablet} {
          width: 80px;
          height: 80px;
          margin-bottom: 20px;
        }
        @media #{$mobile} {
          width: 80px;
          height: 80px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 10001;
    font-weight: bold;
    border: 1px solid $gold;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    line-height: 1;
    padding: 10px;
    width: 35px;
    height: 35px;
  }

  .inside-box {
    width: 540px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    @media #{$mobile} {
      width: calc(100% - 30px);
    }

    .bl-logo {
      background: url('/wp-content/themes/bestlashes/images/logo-b.svg') no-repeat;
      width: 120px;
      background-size: contain;
      display: block;
      height: 120px;
      margin: 0 auto 20px auto;
      background-color: #fff;
      border-radius: 50%;    
        
      @media #{$largedesktop} { 
        height: 120px;
        margin: 0 auto 50px auto;
      }
      @media #{$mobile} {
        position: relative;
        margin: 0 auto 50px auto;
        top: 30px;
      }
    }

    h3 {
      color: $gold;
      font-size: 22px;
      text-align: center;
      line-height: 1.7;
      color: $gold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
    p {
      color: $white;
      font-size: 16px;
      text-align: center;
      line-height: 1.7;
    }

    .popup-video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .buttons {
      margin-top: 40px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;

      @media #{$tablet} {
        margin-top: 20px;
      }
      @media #{$mobile} {
        margin-top: 20px;
      }
      @media #{$thinmobile} {
        //display: block;
      }
      
      &.two-buttons {
        justify-content: space-between;
        max-width: 300px;
        margin: 0 auto;
        .rounded-button {          
          .chart-button-icon {
            line-height: 15px;
            height: 20px;
          }
        }
      }
    }

    .search-container {
      display: flex;

      .search-input {
        width: 90%;
        color: $white;
      }
    }
  }
}


/* Marketing popup */
div.marketing-popup-wrapper {
  a.full-width {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  /* Welcome */
  &.welcome-on-our-new-page {
    .inside-box {
      width: 500px;
      height: 500px;
      background-color: #e9dfd9;
      border-radius: 50%;

      @media #{$mobile} {
        width: 400px;
        height: 400px;
      }
      @media #{$thinmobile} {
        width: 300px;
        height: 300px;
      }

      &:before {
        content: '';
        width: 348.5px;
        height: 356px;
        position: absolute;
        top: -43px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/wp-content/uploads/2018/12/welcome-product.png');
        background-size: contain;
        background-repeat: no-repeat;

        @media #{$mobile} {
          width: 300px;
          height: 305px;
          top: -115px;
        }
        @media #{$thinmobile} {
          display: none;
        }
      }
    }

    .title-wrapper {
      margin-top: 300px;

      @media #{$mobile} {
        margin-top: 180px;
      }
      @media #{$thinmobile} {
        margin-top: 70px;
      }

      h3 {
        color: $black;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .content-wrapper {
      p {
        color: $black;

        @media #{$thinmobile} {
          line-height: 1.2;
        }

        br {
          @media #{$thinmobile} {
            display: none;
          }
        }
      }
    }
  }
}