.select2-container--default {
  .select2-selection--single {
    border: none;
    .select2-selection__rendered {
      padding-left: 0;
    }
  }
}

/* Select2 - woocommerce */
body.woocommerce-page, body.woocommerce-js {
  .select2-container--default {
    .select2-selection--single {
      &:focus {
        outline: none;
      }
    }
  }
  .table-row {
    &:hover {
      .select2-container--default {
        .select2-selection--single {
          background-color: #fcfbf9;
        }
      }
    }
  }
  .select2-search--dropdown {
    padding: 0;
    border-bottom: 1px solid $gold;
    .select2-search__field {
      background-color: $gray-light;
      border-color: #f7f1e8;
      display: block;
      &:focus {
        outline: none;
      }
    }
  }
  .select2-dropdown {
    border: 1px solid $gold;
    .select2-results {
      & > .select2-results__options {
        background-color: $gray-light;
        .select2-results__option {
          margin-bottom: 0;
          &:hover {
            background-color: $gold;
            color: $white;
          }
          &.select2-results__option--highlighted,
          &.select2-results__option[aria-selected=true], 
          &.select2-results__option[data-selected=true] {
            color: $white;
            background-color: $gold;
            border-color: $gold;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

/* Table dropdown, Select2 - not woocommerce */
.table-drowdown-container {
  .table-dropdown-label {
    @media #{$smalldesktop} {
      padding-left: 10px;
    }
    @media #{$tablet} {
      padding-left: 10px;
    }
    @media #{$mobile} {
      padding-left: 10px;
    }
  }
}
.dropdown.table-filter-dropdown {
  height: 100%;
  min-height: 60px;
  @media #{$mobile} {
    width: 100%;
  }
  .select2-container--default {
    width: 100% !important;
    height: 100%;
    .select2-selection--single {
      height: 100%;
      background-color: #fbf8f4;
      border-color: #f7f1e8;
      border-radius: 0;
      .product-filter & {
        @media #{$thinmobile} {              
          margin-bottom: 0;
        }
      }
      &:focus {
        outline: none;
      }
      .select2-selection__rendered {
        height: 100%;
        line-height: 57px;
        text-transform: uppercase;
      }
      .select2-selection__arrow {
        height: 100%;
        &::after {
          content: '⇵';
          position: absolute;
          top: 14px;
          right: 0;
          width: 100%;
          height: 30px;
          font-size: 20px;
          color: $gold;
          @media #{$tablet}, #{$mobile} {              
            top: 17px;  
          }
          
          .product-filter & {
            @media #{$tablet} { 
              right: 11px; 
            }
            @media #{$mobile} { 
              right: -4px; 
            }
          }
        }
        b {
          display: none;
        }
      }
    }
  }
}
.select2-container--open .select2-dropdown--below, 
.select2-container--open .select2-dropdown--above { 
  border-radius: 0;
  border-color: #f7f1e8;
  border-bottom: none;
}
.select2-container--default { 
  .select2-results__options {
    max-height: 300px;
    .select2-results__option {
      /*height: 61px;
      line-height: 48px;*/
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: normal;
      border-bottom: 1px solid #f7f1e8;
      &.select2-results__option--highlighted[aria-selected] {
        background-color: $white;
        color: $gold;
      }
    }
  }
  .select2-results__option[aria-selected=true] {
    background-color: #f7f1e8;
  }
}

.page-template-template-registration {
  .select2-dropdown {
    margin-top: 5px;
  }
}

/* CF7 Select2 */
.wpcf7-form-control-wrap {
  .select2-container--default {
    width: 100% !important;
    .select2-selection--single {
      border: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}