$zoomit-cursor: crosshair !default;
$zoomit-cursor-wait: wait !default;
$zoomit-ease-time: 0.1s !default;

// "Ghost" element above image
.zoomit-ghost {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    cursor: $zoomit-cursor-wait;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

// Zoomed image element
.zoomit-zoomed {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 5;
    position: absolute;
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

// Image container
.zoomit-container {
    overflow: hidden;
    position: relative;
    vertical-align: top;
    display: inline-block;

    img {
        vertical-align: top;
    }

    // For loaded images
    &.loaded {
        .zoomit-ghost {
            cursor: $zoomit-cursor;
        }
        .zoomit-zoomed {
            opacity: 1;
        }
    }
}