@import 'fonts';

$largerthanmobile: "(min-width:768px)";

$gold: #d2bc8f;
$white: #fff;
$black: #221f20;
$pink: #ee0069;
$grey: #bebebe;
$gray-light: #fbf8f4;
$green: #146636;
$light-green: #dcf6e7;
$error: #ee0069;


$smalldesktop: "(min-width: 992px) and (max-width: 1199px)";

/* General */
body.invoice {
  @media #{$smalldesktop} {
    font-size: 13px;
  }  
}

a {
  .icon-remove {
    font-size: 0;
    width: 16px;
    height: 16px;
    position: relative;
    &::after {
      content: 'x';
      position: absolute;
      top: -2px;
      left: 1px;
      width: 100%;
      height: 100%;
      font-family: effra, sans-serif;
      font-size: 14px;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

textarea {
  resize: none;
}

.rounded-button.small {
  height: auto;
  padding: 5px 8px;
  line-height: 1.2;
  .icon-remove {
    height: 12px;
  }
}

.dropdown-list li.focus, 
.dropdown-list li:hover {
  background: $gold;
}

.input-group-btn {
  .btn-secondary {
    color: $black;
    background-color: $white;
    padding: .3rem .6rem;
    border: 1px solid $gold;
    border-radius: 20px !important;
    &:hover {
      background-color: #f0e5ce;
    }
  }
}

.btn-success {
  display: flex;
  height: 40px;
  padding: 0 15px;
  align-items: center;
  border: 1px solid $gold;
  border-radius: 20px;
  color: $black;
  background-color: $white;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: none;
  @media #{$smalldesktop} {
    font-size: 12px;
    letter-spacing: 0;
    padding: 0 5px;
  }
  &:hover {
    background-color: #f0e5ce;
    border-color: $gold;
    color: $black;
  }
  &:focus, &:active {    
    background-color: #f0e5ce !important;
    border-color: $gold !important;
    color: $black !important;
    outline: none !important;
    box-shadow: none;
  }
}

[class*=" icon-"], [class^=icon-] {
  color: $black;
}
.icon-lg {
  &:before {
    color: $black;
  }
}

.icon-cancelled {
  &:before {
    color: $error;
  }
}

.note {
  .icon-note {
    color: $black;
  }
}

.numpad-body {
  .row {
    width: 100%;
  }
}

.c-checkbox {
  & > input {
    &:focus~.c-indicator {      
      background-color: $white;
      box-shadow: none;
      outline: 0;
      border-color: #3898EC;
    }
    &:active~.c-indicator {
      color: $black !important;
      box-shadow: none;
      outline: 0;
      border-color: #3898EC;
    }
    &:checked~.c-indicator {
      background-color: $gold;
      &:focus {
        background-color: $gold;
        box-shadow: none;
        border-color: #3898EC;
        outline: 0;
      }
    }
  }
  .c-indicator {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid $gold;
    background-color: $white;
    box-shadow: none;
    font-size: 16px;
    line-height: 22px;
    &:focus {
      background-color: $white;
      box-shadow: none;
      border-color: #3898EC;
      outline: 0;
    }
  }
}

.popover-element.popover-theme-arrows {
  z-index: 998;
  &.popover-element-attached-top.popover-element-attached-center {
    .popover-content {
      &::before {
        border-bottom-color: #f6f0e9;
      }
    }
  }
  &.popover-element-attached-bottom.popover-element-attached-center {
    .popover-content {
      &::before {
        border-top-color: #f6f0e9;
      }
    }
  }
  .popover-header {
    border-bottom-color: $gold;
    color: $white;
    .title {
      color: $black;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .input-group {
      .input-group-btn {
        .btn-secondary {
          color: $black;
          background-color: $white;
          border-color: $gold;
          min-width: 28px;
          height: 36px;
          font-size: 12px;
          display: flex;
          align-items: center;          
          border-radius: 0 !important;
          justify-content: center;
          &:hover {
            background-color: #f0e5ce;
          }
          i {
            font-size: 7px;
          }
        }
        .btn-secondary[data-btn="left"] {
          border-top-left-radius: 20px !important;
          border-bottom-left-radius: 20px !important;
        }
        .btn-secondary[data-btn="right"] {
          border-top-right-radius: 20px !important;
          border-bottom-right-radius: 20px !important;
        }
      }
      .input-group-addon {
        color: $black;
        background-color: $white;
        border-color: $gold;
        min-width: 28px;
        height: 36px;
        font-size: 12px;
        display: flex;
        align-items: center;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        justify-content: center;
        line-height: 31px;
      }
      .form-control {
        border-color: $gold;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  .popover-content {
    background: #f6f0e9;
    .keys {
      .btn {
        border-radius: 0px;
        border: none;
        font-size: 17px;
        &:hover {
          background-color: #f0e5ce;
        }
        &:focus, &:active {
          background-color: #f0e5ce;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.tooltip-element.tooltip-theme-arrows {
  &.tooltip-element-attached-bottom.tooltip-element-attached-center {
    .tooltip-content:before {
      border-top-color: $gold;
    }
  }
  &.tooltip-element-attached-top.tooltip-element-attached-center {
    .tooltip-content:before {
      border-bottom-color: $gold;
    }
  }
  .tooltip-content {
    background: $gold;
  }
}

/* Header */
#header {
	.header.invoice {
		top: 0;

		a.logo-container {
			padding: 0;
			display: flex;

			.logo-block {
				img {
					top: 0;
					left: 0;
				}
			}
		}

		.nav-container {
			a.nav-item {
				display: flex;
				color: $black;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 0;
				padding-bottom: 0;
				@media #{$smalldesktop} {
				  padding-left: 5px;
				  padding-right: 5px;
				}
			}
		}

		a {
			&:hover {
				background-color: transparent;
			}
		}

		.nav-username {
			color: $black;
			font-weight: bold;
		}
	}
	.logo-hamburger-container {
	  .logo-container {      
      @media #{$smalldesktop} {
        width: 182px;
        min-width: 182px;
      }
	    .logo-block {
	      @media #{$smalldesktop} {
	        width: 40px;
	        height: 40px;
	        margin-top: 10px;
	      }
	      .logo-b {
          @media #{$smalldesktop} {
            width: 40px;
            height: 40px;
          }
	      }
	    }
	    .logo-text-container {	      
        @media #{$smalldesktop} {
          width: 130px;
          height: 56px;
          padding-top: 18px;
        }
	    }
	  }
	  .hamburger-container {
	    display: none;
	  }
	}
}


#page {
	#main {
	  padding-right: 0;
	  padding-left: 0;
		@media #{$largerthanmobile}{
			top: 88px;
			padding: 1px;
		}

		.table-header {
			color: $black;
		}
		
		/* POS */
		& > div > section {
			padding: 0 0 0 1px;
		}		
		
    .table-wrapper.invoice {
      .table-row.search {
        border-top: none;

        a.btn.btn-secondary {
          &:hover {
            background-color: #f0e5ce;
          }
        }
      }
      .table-tab-container {
        .panel-footer {
          .tabs {
            & > li {
              &:last-of-type {
                &:hover {
                  background-color: rgba(251, 248, 244, .5);
                }
              }              
            }
          }
        }
      }
    }
	
		.panel-header {
			&.list-actions {
				background: $white;

				.table-wrapper.invoice {
					padding: 0;
				}

				& > div {
					padding: 0;

					/*a.btn.btn-secondary {
						background-color: transparent;
						border: none;
						padding: 0;
					}*/

					.fa-solid {
						color: $black;
					}
					
					.input-group-addon {
            background: transparent;
            border: none;
            .icon-search {
              color: $black;
              font-family: 'Fa solid 900', sans-serif;
              font-size: 18px;
              line-height: 20px;
            }
					}
					
					.input-group-btn {
					  .btn {
					    
					  }
					}

					input[type="search"] {
					  border-radius: 0px;
					  border: none;
					  background-color: transparent;
					  &:focus {
              box-shadow: none;
              outline: none;
              border-color: #dbdbdb;
            }
					}
				}
			}
			
		  .table-row.search {
        .input-group-btn {
          .btn-secondary {
            border: none;
            padding: 0;
            &:hover {
              background-color: $white !important;
            }
          }
        }
      }
		}
		
		.products-tabs {
		  .tabs {
		    background: #f0e9df;
		    li {
		      height: 60px;
		      display: flex;
          align-items: center;
          padding-right: 30px;
          padding-left: 30px;
          background-color: hsla(34, 47%, 97%, .5);
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 3px;
          &:hover {
            background-color: $white;
          }
          &.active {
            background-color: #fbf8f4;
          }
		    }
		  }
		}
    
    .panel-body {
      &.products-list.list-striped {
        .variable {
          .list-row {
            .table-column {
              a.expand-all,
              a.close-all {
                text-align: center;
              }
            }
          }
        }

        .table-column {
          .title {
            strong {
              font-weight: normal;
            }
          }
        }
      }
      .action {
        .round-button {
          color: $black;
        }
      }
      ul {
        li {
          border-bottom: none;
          .invoice-toggle {
            .c-checkbox {
              margin-right: 5px;
            }
          }
          .list-item {
            margin-bottom: 0;
            .pos-product-row {
              .action {
                .round-button {
                  display: flex;
                  font-size: 17px;
                }
              }
            }
            .table-column {
              .price {
                input {
                  margin-right: 0;
                }
              }
            }
            .title {
              a {
                &:focus, &:active {
                  outline: none;
                  box-shadow: none;
                  background-color: #f0e5ce;;
                }
              }
            }
            .total {
              white-space: nowrap;
              del {
                color: #bebebe;
                white-space: nowrap;
                display: block;
              }
              ins {
                text-decoration: none;
                white-space: nowrap;
              }
            }
          }
          .list-drawer {
            .table-column {
              div {
                width: 100%;
                .form-control {
                  width: calc(100% - 40px);
                  margin-right: 30px;
                }
              }
              &.meta-datas {
                div {
                  span {
                    position: relative;
                    
                    .round-button {
                      position: absolute;
                      top: 0;
                      right: 0;
                      width: 24px;
                      height: 24px;
                      min-height: 24px;
                      min-width: 24px;
                      padding: 0px 0px 0px 2px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 20px;
                      background-color: #fff;
                      color: #221f20;
                      &:hover {
                        background-color: #f0e5ce;
                      }
                      .icon-remove {
                        margin-right: 3px;
                        border: none;
                        position: static;
                        border: 1px solid #d2bc8f;
                      }
                    }
                    .icon-remove {
                      position: absolute;
                      top: 0;
                      right: 0;
                      width: 24px;
                      height: 24px;
                      min-height: 24px;
                      min-width: 24px;
                      padding: 0px 0px 0px 2px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border: 1px solid #d2bc8f;
                      border-radius: 20px;
                      background-color: #fff;
                      color: #221f20;
                      &:hover {
                        background-color: #f0e5ce;
                      }
                    }
                  }
                }
              }

              .title {
                span.separation {
                  margin: 0 5px;

                  &:last-of-type {
                    display: none;
                  }
                }
              }
            }
          }
          .product {
            .table-column {
              & > div {
                display: flex;
                align-items: center;
                width: 100%;
                span {
                  display: flex;
                  align-items: center;
                  margin-right: 5px;
                  margin-top: 0;
                }
                .price-input {
                  margin-top: 0;
                  margin-right: 10px;
                }
                label.c-input {
                  margin-top: 0;
                  margin-bottom: 0;
                  padding-left: 30px;
                  height: 100%;
                  display: flex;
                  line-height: 1.2;
                  align-items: center;
                  justify-content: center;
                  @media #{$smalldesktop} {
                    padding-left: 10px;
                  }
                  .c-indicator {
                    position: static;
                  }
                }
              }
            }
          }
          &.variable {
          	.list-item {
              .pos-product-row {
      					.action {
      						.round-button {
      							&.close-all {
      								display: none;
      							}
      							&.expand-all {
      								display: flex;
                      text-align: center;
      							}
      						}
      					}
              }
            }
            .list-drawer {
              .table-links {                  
                .table-link {
                  .separation {
                    margin: 0 5px;

                    &:last-of-type {
                      display: none;
                    }
                  }
                }
              }
            }
            &.drawer-open {
            	.list-item {
                .pos-product-row {
                	.action {
                		.round-button {
      								&.close-all {
      									display: flex;
                        text-align: center;
      								}
      								&.expand-all {
      									display: none;
      								}
                		}
                  }
                }
            	}
            }
            .list-item {
              margin-bottom: 0;
              .pos-product-row {
                .action {
                  display: block;
                }
              }
            }
            .list-drawer {
              .list-row {
                border-top-color: #ece7df;
                background-color: #fbf8f4;
                .table-row-small-tansparent {
                  border: none;
                  .action {
                    .round-button {
                      display: flex;
                    }
                  }
                }
              }
            }
          }
          &.shipping {
            border: none;
          }
          &.fee {
            border: none;
          }
        }
      }
    }
    
    .cart-totals {
      border: none;
      padding-top: 12px;
      padding-bottom: 12px;
      .list-row {
        border: none;      
        .table-column {
          line-height: 0.9;
          font-size: 17px;
          font-weight: 400;
          align-items: flex-end;
          small {
            line-height: 1;
            margin: 0 2px;
          }
        }
        &.order-total {          
          .table-column {
            font-size: 17px;
            font-weight: 700;
          }
        }
      }
    }
    
    .table-footer {
      .list-actions {
        &:first-of-type {
          background: transparent;
        }
        & > div {
          text-align: center;
          @media screen and (max-width: 1300px) {
            text-align: right;
          }
          .btn {
            height: 40px;
            align-items: center;
            border: 1px solid #d2bc8f;
            border-radius: 20px;
            background-color: #fff;
            color: #221f20;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
            box-shadow: none;
            &.btn-primary {
              height: 24px;
              line-height: 0.9;
              font-size: 11px;
              padding-left: 8px;
              padding-right: 8px;
              position: relative;
              &::before {
                content: '+';
                font-size: 16px;
              }
            }
            &.btn-success {
              float: right;
              @media screen and (max-width: 1300px) {
                margin-top: 15px;
                margin-bottom: 15px;
              }
            }
            &:hover {
              background-color: #f0e5ce;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    
    .cart-notes {
      & > div {
        border-top: 1px solid #dbdbdb;
        padding: 10px 30px;
        &:focus {
          outline: none;
          box-shadow: none;
          border-top: 1px solid #dbdbdb;
        }
      }
    }
    
    .table-tab-container {
      .panel-footer {
        .tabs {
          height: 100%;
          background-color: #f0e9df;
          & > li {
            height: 100%;
            line-height: 4;
            padding-right: 30px;
            padding-left: 30px;
            font-weight: 700;
            background-color: hsla(34, 47%, 97%, .5);
            display: flex;
            align-items: center;
            &:hover {
              background-color: #fff;
            }
            &.active {
              background: #fbf8f4;
            }
            &.last-of-type {
              padding-right: 10px;
              padding-left: 10px;
            }
          }
          .icon-plus {
            display: flex;
            width: 40px;
            height: 40px;
            min-height: 40px;
            min-width: 40px;
            padding: 10px 10px 10px 12px;
            justify-content: center;
            align-items: center;
            border: 1px solid #d2bc8f;
            border-radius: 20px;
            background-color: #fff;
            color: #221f20;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:hover {
              background-color: #f0e5ce;
            }
          }
        }
      }
    }
    
    .panel-footer {
      & > div {
        background: transparent;
        .info {
          color: $black;
        }
      }
    } 

		.pos-product-row {
			max-height: 90px;

			.table-column {
				height: auto;

				.table-price {
					height: auto;

					.price {
					    flex: none;
					}
				}
			}
		}

		.panel.cart {
		  .cart-customer {
		    border-top: none;
		  }
			.table-wrapper.invoice {
				.table-row.table-row-container > div,
				.table-footer.table-row-container > div {
					width: 100%;
				}

				.table-column {
					height: auto;
					flex: auto;
					padding-right: 15px;
          padding-left: 15px;
				}

				.table-row-small-tansparent.meta {
					.table-column > span {
						display: block;
						flex: none;
					}
				}
				
				.table-row.search {
				  border-top: none;
				}
				
				.table-row-container {
				  .cart-customer {
				    .table-column:last-of-type {
				      flex-direction: row-reverse;
				    }
				  }
				}
				
				.form-control {
				  border: none;
				  background-color: transparent;
				  letter-spacing: 0.75px;
				  &:focus {
				    outline: none;
				    border: none;
				    box-shadow: none;
				  }
				}
				
				.cart-item {
				  .qty {
				    display: flex;
				    .w-form {
				      margin-bottom: 0;
              .quantity-input {
                margin-top: 0;
                width: 40px !important;
                height: 40px;
                border-radius: 0;
                border: 1px solid #d2bc8f;
                background-color: #fbf8f4;
                letter-spacing: 0.75px;
              }
				    }
            .w-button {
              width: 30px;
            }
				  }
				  .title {
				    strong, span {
				      &:focus {
				        border: none;
				        outline: none;
				        box-shadow: none;
				      }
				    }
				    span {
              width: calc(100% - 15px);
              display: inline-block;
				    }
				  }
				}
			}

      &.cart-empty {
        .table-row.table-row-container {
          display: none;
        }
        .table-footer.table-row-container {
          display: none;
        }

      }
		}

		/* List pages, default page list */
		section.panel {
			padding: 0;
			
			.table-wrapper.bl-wrapper {
				.table-content {
					// Search row
					.table-row.search {
						.table-column {
							max-height: 90px;
						}

						.panel-header {
							width: 100%;
							padding: 0;

							& > div {
								width: 100%;
							}

							.input-group {
								margin-right: 0;
								
								.form-control {
								  padding-left: 0;
								  padding-right: 0;
								}
							}
						}
					}
					
					// Table header
					.table-header {
						max-height: 60px;

						.table-column {
							max-height: 60px;
							flex: auto;
							padding-left: 15px;
							padding-right: 15px;
							
							@media #{$smalldesktop} {
							  font-size: 12px;
							  letter-spacing: 1px;
							}
						}
					}

					// Table row
					.table-row.bl-row {
						flex: auto;
						max-height: 90px;
					    overflow: hidden;
					    padding: 0 15px;

						.table-column {
							max-height: 90px;
						}
					}
				}
			}
		}

		/* Products */
		section.products {
			.table-wrapper.products {
				.table-row-small-tansparent.product {
					flex: auto;
					max-height: 60px;
				  overflow: hidden;
          padding: 0 15px;

				  .table-column {
						max-height: 60px;
					}
				}
			}
		}

		/* Orders */
		section.orders-page {
			
		}

		/* Customers */
		section.customers-page {
		  .table-header {
		    .table-column {		      
          .username {
            word-break: break-word;
          }
		    }
		  }
			.table-row.customer {
			  .table-column {
			    div.username, div.email {
			      word-break: break-word;
			    }			    
			  }
			}
			.table-row.search {
			  .list-actions {
			    width: 100%;
			    background: $white;
			  }
        .input-group-addon {
          background: transparent;
          border: none;
          .icon-search {
            color: $black;
            font-family: 'Fa solid 900', sans-serif;
            font-size: 18px;
            line-height: 20px;
          }
        }
        .form-control {
          border: none;
          background-color: transparent;
          letter-spacing: 0.75px;
          padding-left: 0;
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
			}
		}

		/* Coupons */
		section.coupons-page {
      .table-row.search {
        .list-actions {
          width: 100%;
          background: $white;
        }
        .input-group-addon {
          background: transparent;
          border: none;
          .icon-search {
            color: $black;
            font-family: 'Fa solid 900', sans-serif;
            font-size: 18px;
            line-height: 20px;
          }
          &.clear {
            i {
             margin-top: -8px;
             color: $gold;
            }
          }
        }
        .form-control {
          border: none;
          background-color: transparent;
          letter-spacing: 0.75px;
          padding-left: 0;
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
      }
		}
		
		/* Checkout */		
		.panel.checkout {
		  .panel-header {
		    background: #f0e9df;
		    color: $black;
		    h4 {
		      text-transform: uppercase;
		      font-size: 13px;
          font-weight: 600;
          letter-spacing: 3px;
		    }
		  }
		  .panel-body {
		    ul {
		      li {
		        .gateway {		          
              display: flex;
              min-height: 60px;
              padding-right: 15px;
              padding-left: 15px;
              justify-content: flex-start;
              align-items: center;
              font-size: 13px;
              font-weight: 600;
              letter-spacing: 3px;
              text-transform: uppercase;
              color: $black;
              background-color: #fbf8f4;
              h5 {
                font-size: inherit;
                font-weight: inherit;
              }
		        }
		        .drawer {
		          .form-group {
		            label {
		              margin-left: 15px;
		              margin-top: 4px;
                  margin-bottom: 4px;
		              font-weight: 500;
		            }
		            .input-group {
		              .input-group-addon {		          
                    color: $black;
                    background-color: $white;
                    border-color: $gold;
                    min-width: 28px;
                    display: flex;
                    align-items: center;  
                    border-top-left-radius: 20px !important;
                    border-bottom-left-radius: 20px !important;
                    justify-content: center;
                    &:hover {
                      background-color: #f0e5ce;
                    }
		              }
		              .form-control {
                    background-color: #fafafa;
                    border: 1px solid #d2bc8f;
                    border-radius: 0;
                    width: auto;
		              }
		            }
		          }
		        }
		        &.active {
		          .gateway {
		            background-color: #f6f0e9;
		          }              
		        }
		      }
		    }
		  }
		  .list-actions {
        min-height: 90px;
        padding-right: 15px;
        padding-left: 15px;
        border-top: 1px solid #fff;
        background-color: #f7f1e8;
        display: flex;
        align-items: center;
        & > div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-right: 10px;
          padding-left: 10px;
          button {
            display: flex;
            height: 40px;
            padding: 0 15px;
            align-items: center;
            border: 1px solid #d2bc8f;
            border-radius: 20px;
            color: #221f20;
            background-color: #fff;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
            box-shadow: none;
            &:hover {
              background-color: #f0e5ce;
            }
            &:focus, &:active {    
              background-color: #f0e5ce !important;
              border-color: $gold !important;
              color: $black !important;
              outline: none !important;
              box-shadow: none;
            }
          }
        }
		  }
		}
		
		.panel.receipt.completed {
		  .table-row.search {
		    background-color: #f0e9df;
		    .panel-header {
		      height: auto;
		      background-color: transparent;
          padding-right: 10px;
          padding-left: 10px;
		      .paid {
		        background-color: transparent;
		        h4 {
		          font-size: 13px;
              font-weight: 500;
              letter-spacing: 3px;
              text-transform: uppercase;
              color: $black;
		        }
		      }
		    }
		  }
		  .table-content {
		    .table-column {
		      height: auto;
		    }
		    .panel-body {
		      .bl-row {
		        border-color: #f7f1e8;
		      }
		    }
		    .list-actions {
		      display: flex;
          min-height: 90px;
          padding-right: 15px;
          padding-left: 15px;
          justify-content: flex-start;
          align-items: center;
          border-top: 1px solid #fff;
          background-color: #f7f1e8;
		      & > div {
		        width: 100%;
		        //display: flex;
		        justify-content: space-between;
		        padding-left: 10px;
		        padding-right: 10px;
		        .btn-success {
		          float: right;
		          display: inline-block;
		        }
		      }
		      .btn-primary {
            display: flex;
            height: 40px;
            padding: 0 15px;
            align-items: center;
            border: 1px solid $gold;
            border-radius: 20px;
            color: $black;
            background-color: $white;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
            box-shadow: none;
            @media #{$smalldesktop} {
              font-size: 12px;
              letter-spacing: 0;
              padding: 0 5px;
            }
            &[data-action="print"],
            &[data-action="email"] {
              display: none;
            }
            &:hover {
              background-color: #f0e5ce;
              border-color: $gold;
              color: $black;
            }
            &:focus, &:active {    
              background-color: #f0e5ce !important;
              border-color: $gold !important;
              color: $black !important;
              outline: none !important;
              box-shadow: none;
            }
		      }
		    }
		    .list-totals {
		      border: none;
		      border-top: 1px solid #f7f1e8;
          padding-top: 12px;
          padding-bottom: 12px;
		      &:hover {
		        background-color: #fcfbf9;
		      }
		      .list-row {
		        border: none;
		        min-height: auto;
            padding-top: 0;
            padding-bottom: 0;
		        &:hover {
		          background-color: transparent;
		        }
		        &.order-total {
		          .table-column {
		            font-weight: 700;
		          }
		        }
		        .table-column {
              line-height: 0.9;
              font-size: 17px;
              font-weight: 400; 
              small {
                line-height: 1;
                margin: 0 2px;
              }
		        }
		      }
		    }
		  }
		}
	}
}


#modal {
  .modal-dialog {
    .modal-content {
      border: none;

      .modal-header {
        background: #f0e9df;
        color: $black;
        min-height: 60px;
        display: flex;
        align-items: center;
        border: none;

        & > div {
          flex: 1;
          padding: 0 30px;

          .modal-title {
            height: auto;
            line-height: normal;
            font-family: effra, sans-serif;
            padding: 0;
            display: flex;
            align-items: center;
          }

          a.close {
            width: 40px;
            height: 40px;
            min-height: 40px;
            min-width: 40px;
            padding: 10px 10px 10px 12px;
            justify-content: center;
            display: flex;
            align-items: center;
            border: 1px solid $gold;
            border-radius: 20px;
            background-color: $white;
            color: $black;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 100;
          }
        }
      }

      .modal-body {
        padding: 0;
        
        .table-wrapper {
          
          &.invoice,
          &.customer {
            padding: 0;
          }

          .table-content {
            &.search {
              display: none;
            }

            .table-header {
              color: $black;

              .table-column {
                max-height: 60px;
              }
            }

            .table-column {
              max-height: 90px;
              flex: auto;

              .table-row-small-tansparent {
                margin-bottom: 0;
              }
            }

            .table-row-small-tansparent {
              max-height: 60px;

              .table-column {
                max-height: 60px;
              }
            }

            .receipt-totals {
              border-top: 1px solid #ece7df;

              .table-row-small-tansparent {
                border: none;
                min-height: 0;
                height: auto;

                .table-column {
                  max-height: 60px;
                  height: auto;
                }
              }
            }
          }
        }
      }

      .modal-footer {
        border-top: 1px solid $gold;
        padding: 15px 25px;
        background: #f7f1e8;

        button,
        a.invoice-link {
          height: 40px;
          align-items: center;
          border: 1px solid $gold;
          border-radius: 20px;
          background-color: $white;
          color: $black;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
          letter-spacing: 3px;
          text-transform: uppercase;
          box-shadow: none;

          @media #{$smalldesktop} {
            font-size: 12px;
            letter-spacing: 0;
            padding: 0 5px;
          }
          &:hover {
            background-color: #f0e5ce;
            border-color: $gold;
            color: $black;
          }
          &:focus, &:active {    
            background-color: #f0e5ce !important;
            border-color: $gold !important;
            color: $black !important;
            outline: none !important;
            box-shadow: none;
          }
        }
        
        button {
          &[data-action="print"],
          &[data-action="email"] {
            display: none;
          }          
        }

        a.invoice-link {
          line-height: 30px;
        }

        span.loading {

        }
      }
    }
  }
}

/* Spinner */
$inner: 18px;
$border: $inner/5;
$size: $inner + $border * 2;
@mixin circle($color,$colorOpt,$duration:2s) {
  border-top-color: $color;
  border-bottom-color: $colorOpt;
  animation: spin $duration linear infinite;
}
.loading-icon,
.list-infinite > div .icon.icon-spinner,
.icon-loading,
.modal-footer & > div .loading-icon {
  position: relative;
  width: $inner;
  height: $inner;
  // background: rgba(MistyRose,0.2);
  border-radius: 50%;
  display: none;
  top: 0;
  font-size: 0;
  
  &.loading {
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: $border solid transparent;
    border-radius: 50%;
    left: -$border;
    top: -$border;
    width: 100%;
    height: 100%;
  }
  &::after {
    @include circle($gold,transparent,1s);
  }
  &::before {
    @include circle($black,transparent);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-infinite {
  & > div {
    background: #f6f0e9;
    .icon.icon-spinner {
      font-size: 0;
      width: $inner;
      height: $inner;
      margin-left: auto;
      margin-right: auto;
      top: 0;
      &::before,
      &::after {
        top: 0;
        left: 0;
      }
    }
  }
  &.loading {
    & > div {
      .icon.icon-spinner {
        display: block;
      }
    }
  }
}

.btn-success {
  &.disabled {    
    .icon-loading {
      display: block;
      &::before,
      &::after {
        top: 0;
        left: 0;
      }
    }
  }
}

.table-content .list-actions {
  & > div {
    .loading-icon {
      top: 15px;
      left: 0;
    }
  }
}

.modal-footer {
  & > div {
    .loading-icon {
      top: 10px;
      font-size: 0;
      background: transparent;
    }
  }
}

/* Fixing panel header */
#right {
  .panel.receipt.completed {
    .unpaid {
      display: none;
    }
  }
}