@import 'fonts';

@mixin transition($t...) {
  transition: $t;
  -webkit-transition: $t;
}
@mixin transform($t) {
  -ms-transform: $t;
  -webkit-transform: $t;
  transform: $t;
}
@mixin transform-origin($o) {
  -ms-transform-origin: $o;
  -webkit-transform-origin: $o;
  transform-origin: $o;
}
@mixin lets($tracking) {
  letter-spacing: 1em * $tracking / 1000;
}

$gold: #d2bc8f;
$white: #fff;
$black: #221f20;
$pink: #ee0069;
$grey: #bebebe;
$gray-light: #fbf8f4;
$green: #146636;
$light-green: #dcf6e7;

$thinmobile: "(max-width: 479px)";
$widemobile: "(min-width: 480px) and (max-width: 767px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$smalldesktop: "(min-width: 992px) and (max-width: 1199px)";
$mediumdesktop: "(max-width: 1366px)";
$largedesktop: "(min-width: 1500px)";

$easeInOutExpo: cubic-bezier(0.8, 0, 0.2, 1);

/* General */

::-moz-selection { background: rgba($gold, 0.2); }
::selection { background: rgba($gold, 0.2); }

body { 
  @media #{$tablet}{
    line-height: 26px;
  }
  @media #{$mobile}{
    font-size: 14px;
    line-height: 24px;
  }
  @media #{$thinmobile} {
    line-height: 22px;
    letter-spacing: 0px;
  }
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: $gold;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  @media #{$tablet} {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 3.4px;
  }
  @media #{$mobile}{
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 3.2px;
  }
  @media #{$thinmobile} {
    font-size: 18px;
    line-height: 22px;
  }

  &.no-margin-top {
    margin-top: 0;
  }
}
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  @media #{$tablet} {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3px;
  }
  @media #{$mobile}{
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 20px;
  }
  @media #{$thinmobile} {
    font-size: 15px;
    line-height: 20px;
  }

  &.no-margin-top {
    margin-top: 0;
    @media #{$mobile} {
      margin-bottom: 20px;
    }
  }
}
h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  
  @media #{$tablet} {
    margin-bottom: 10px;
  }
  @media #{$mobile}{
    margin-bottom: 10px;
  }
  @media #{$thinmobile} {
    margin-bottom: 10px;
  }

  &.no-margin-top {
    margin-top: 0;
  }
}
img {
	height: auto;
}
p {
  margin-bottom: 15px;

  @media #{$tablet} {
    margin-bottom: 10px;
  }
  @media #{$mobile}{
    margin-bottom: 10px;
  }
  @media #{$thinmobile} {
    text-align: left;
  }
}
ul {
  margin-bottom: 30px;
  padding-left: 20px;
  li {
    list-style: none;
    position: relative;
    margin-bottom: 15px;
    line-height: 22px; /* 32 */
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: -20px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $gold;
    }
  }

  @media #{$tablet} {
    margin-bottom: 20px;
  }
  @media #{$mobile}{
    margin-bottom: 20px;
  }
  @media #{$thinmobile} {
    text-align: left;
  }
}
textarea {
  resize: none;
}
mark {
  background: transparent;
}
.page-template-default,
.page-template-template-about-us {
  .separator-heading {    
    @media #{$mobile} {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.separator-heading {
  h3 {
    @media #{$mobile} {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}
.no-margin-bottom-on-mobile {
  .vc_column-inner {
    .wpb_wrapper {
      .wpb_text_column {
        @media #{$mobile} {
          margin-bottom: 0;
        }
      }
    }
  }
}

.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.row {
  > .vc_column_container {
    > .vc_column-inner {
      @media #{$mobile} {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
.table-column {
  &._33percent {
    width: 33.33%;
  }
}
.d-block {
  display: block;
}
.categories-heading {
  letter-spacing: 0.75px;
  text-transform: none;
}
.unordered-list {
  padding-left: 15px;
}
.list-item {
  line-height: 32px;
  margin-bottom: 0;
}
.underline-button {
  height: 32px;
  &:hover {
    .link-underline {
      width: 100%;
    }
  }
  .underline-button-text {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    .underline-button-icon {
      margin-left: 5px;
      line-height: 30px;
    }
  }
  .link-underline {
    @include transition(width 0.5s $easeInOutExpo);
  }
}
.container.padding-fixed {
  padding-left: 15px;
  padding-right: 15px;
  @media #{$mobile} {
    padding-left: 0;
    padding-right: 0;
  }
}
.vc_row {
  .columns {
    .w-row {
      .col {
        @media #{$mobile} {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}
.vc_separator {
  .vc_sep_holder {    
    .vc_sep_line {
      border-color: $gold;
    }
  }
}
.text-left-img-right {
  @media #{$mobile} {
    display: flex;
    flex-direction: column-reverse;
  }
}
.hide {
  display: none;
}

.heading-fix {
  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type,
  h6:first-of-type {
    margin-top: 0;
  }
}

/* Header */
.header.main {
  @media #{$mediumdesktop} {
    position: relative;
  }

  body:not(.home) & {
    background-color: $white;
  }
  .logo-container {
    .logo-block {
      transform-style: preserve-3d;
      transition: transform 0.5s ease-in-out;
    }
    &:hover {
      .logo-block {
        transform: rotateY(360deg);
      }
    }
  }
  .navigation {
    .nav-container {
      @media #{$tablet} {
        width: 100%;
        height: auto;
      }
      @media #{$mobile} {
        width: 100%;
        height: auto;
      }

      .menu-container {
        display: flex;
        
        &.main-menu {
          @media #{$tablet} {
            display: none;
          }
          @media #{$mobile} {
            display: none;
          }

          .only-thin-mobile {
            display: none;

            @media #{$thinmobile} {
              display: flex;
            }
          }

          .nav-dropdown {
            @media screen and (min-width: 992px) and (max-width: 1100px){
              padding-left: 5px;
              padding-right: 5px;
            }
          }

          .nav-dropdown,
          .nav-item {
            @media screen and (min-width: 992px) and (max-width: 1100px){
              letter-spacing: 1.4px;
              font-size: 12px;
            }
          }
        
          .menu-space {
            @media screen and (min-width: 992px) and (max-width: 1100px){
              width: 7px;
            }
          }

          .nav-item-lang.only-thin-mobile {
            @media #{$thinmobile} {
              flex-direction: row;
              justify-content: center;

              &:hover {
                height: 50px;
                background-color: $gray-light;
              }

              a.nav-item-lang-item {
                margin: 0 10px;
              }
            }
          }
        }

        &.second-menu {
          @media #{$thinmobile} {
            display: none;
          }
        }

        .nav-item-login {
          width: auto;
          padding-left: 10px;
          padding-right: 10px;

          @media screen and (min-width: 992px) and (max-width: 1100px){
            padding-left: 5px;
            padding-right: 5px;
          }

          img {
            margin-right: 5px;
          }
        }

        .nav-item-search {
          @media screen and (min-width: 992px) and (max-width: 1100px){
            width: 30px;
          }
        }
      }

      .nav-dropdown, .nav-item {
        > .link-underline {
          transition: width 0.5s $easeInOutExpo;
        }
        &:hover {
          > .link-underline {
            width: 100%;
          }
        }
      }
      .nav-dropdown {
        .nav-dropdown-toggle {
          height: 0;
          transition: height 0.5s $easeInOutExpo;
        }
        &:hover {
          .nav-dropdown-toggle {
            transition: height 0.8s $easeInOutExpo;
          }
        }
      }
      .nav-dropdown-item {
        transition: transform 0.8s $easeInOutExpo;
        &:hover {
          transform: translateX(5px);
          transition: transform 0.5s $easeInOutExpo;
        }
      }
    }
    .nav-item {
      @media #{$smalldesktop} {
        padding-right: 2px;
        padding-left: 2px;
      }
      &.brands {
        @media #{$smalldesktop} {
          padding-right: 4px;
          padding-left: 4px;
        }
      }
      img {
        height: 100%;
        max-height: calc(100% - 1px);
      }
    }
    .logo-hamburger-container {
      .logo-container {
        align-items: center;
        @media #{$smalldesktop} {
          width: 220px;
          min-width: 220px;
        }
        @media screen and (min-width: 992px) and (max-width: 1029px) {
          width: 200px;
          min-width: 200px;
        }
        @media #{$mobile} {
          width: 220px;
          min-width: 220px;
        }
        @media screen and (min-width: 480px) and (max-width: 550px) {
          width: 200px;
          min-width: 200px;
        }
        .logo-text-container {
          @media #{$smalldesktop} {
            width: 150px;
          }
          @media screen and (min-width: 992px) and (max-width: 1029px) {
            width: 130px;
            height: 54px;
          }
          @media #{$mobile} {
            width: 150px;
          }
          @media screen and (min-width: 480px) and (max-width: 550px) {
            width: 130px;
            height: 54px;
          }
        }
      }
    }
  }
  .nav-white-background {
    background-color: transparent;
    @include transition(background-color 0.5s $easeInOutExpo, height 0.5s $easeInOutExpo);
  }
  &:hover {
    .nav-white-background {
      background-color: $white;
    }
  }
}

.breadcrumb {
  &.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .breadcrumb-link {
    @media #{$mobile} {
      line-height: 1.3;
    }
  }
}

/* Home */
body.home {
  .subpage-wrapper {
    @media #{$mediumdesktop} {
      margin-top: -110px;
    }

    @media #{$tablet} {
      margin-top: 0;
    }
    @media #{$mobile} {
      margin-top: 0;
    }
  }
}

/* Home Slider */
body.home {
  .subpage-wrapper {
    padding-top: 0;
  }
  .home-intro {
    min-height: 70vh;
    @media #{$tablet} {
      min-height: 40vh;
    }
    @media #{$mobile} {
      min-height: 36vh;
    }
    @media #{$thinmobile} {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .vc_row[data-vc-full-width] {
    overflow: visible;
  }
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
$maxHomeSlides: 6;
.home-hero {
  height: 100vh;

  @media #{$widemobile} {
    height: 150vh;
  }
  @media #{$mobile} {
    height: 80vh;
  }

  .home-slider-text-container {
    transform: translateY(0);
    transition: transform 1s $easeInOutExpo;

    $homeSliderTextContainerHeight: 60vh;
    @for $i from 0 through $maxHomeSlides {
      &[data-slide="#{$i}"] {
        transform: translateY($homeSliderTextContainerHeight * $i * -1);
      }
    }

    img.slider-lash-inc-logo {
      width: 250px;
      background-color: transparent;
      @media #{$tablet} {
        width: 200px;
      }
      @media #{$mobile} {
        width: 160px;
      }
    }
  }
  .home-slider-buttons {
    .home-slider-button-circle {
      transform: translateX(0);
      transition: transform 0.4s $easeInOutExpo 0.2s;
    }
    $homeSliderButtonOffset:42px;
    @for $i from 0 through $maxHomeSlides {
      &[data-slide="#{$i}"] {
        .home-slider-button-circle {
          transform: translateX($homeSliderButtonOffset * $i);
        }
      }
    }
  }
  .home-slider-buttons[data-slides="2"] {
    $homeSliderButtonOffset:55px;
    @for $i from 0 through $maxHomeSlides {
      &[data-slide="#{$i}"] {
        .home-slider-button-circle {
          transform: translateX($homeSliderButtonOffset * $i);
        }
      }
    }
  }

  @for $i from 0 through $maxHomeSlides {
    $homeSliderWidth:  ($i + 2) * 40px;
    .home-slider-buttons[data-slides="#{$i}"] {
      width: $homeSliderWidth;

      @for $j from 0 through $maxHomeSlides {
        &[data-slide="#{$j}"] {
          .home-slider-button-circle {
            transform: translateX($homeSliderWidth / ($i + 2) * $j);
          }
        }
      }

    }
  }

  .home-hero-parallax-slider {
    .home-hero-parallax-slider-container {
      transform: translateX(0);
      transition: transform 0.7s $easeInOutExpo;
    }
    .home-hero-parallax-slider-image-mask {
      width: 100%;
      transition: width 0.7s $easeInOutExpo;
      .home-hero-parallax-slider-image {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
      }
    }
    @for $i from 0 through $maxHomeSlides {
      &[data-slides="#{$i}"] {
        .home-hero-parallax-slider-container {
          width: 100% * $i;
        }

          @for $j from 0 through $maxHomeSlides {
          &[data-slide="#{$j}"] {
            .home-hero-parallax-slider-container {
              transform: translateX(-100%/$i * $j);
            }
            .home-hero-parallax-slider-image-#{$j}-mask {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .home-hero-background-slider {
    .home-hero-background-slider-image {
      opacity: 0;
      transition: opacity 1s $easeInOutExpo;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-size: cover;
    }
    @for $i from 0 through $maxHomeSlides {
      &[data-slide="#{$i}"] {
        .home-hero-background-slider-image-#{$i} {
          opacity: 1;
        }
      }
    }
  }
}
/* Home product slider */
.product-slider-container {
  .product-slider-mask > .row {
    transition: transform 0.8s $easeInOutExpo;
  }
}

/* Product list */
.productlist-wrapper {
  .shop-head-left-col {
    align-items: center;
    @media #{$mobile} {
      display: none;
    }
    .shop-header {      
      line-height: 1.5;
      height: auto;
    }
  }
  .shop-head-right-col {
    @media #{$mobile} {
      width: 100%;
    }
    .product-filter {      
      @media #{$thinmobile} {
        width: 100%;
      }
      .table-filter-dropdown {
        @media #{$mobile} {
          padding: 0;
        }
        .select2-container--default {
          .select2-selection--single {
            padding: 0 15px;
            .select2-selection__arrow {
              &::after {
                @media #{$mobile} {
                  right: 11px;
                }
              }
            }
          }
        }
      }
    }
    .table-filter-dropdown {
      @media #{$mobile} {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
  .shop-categories-eyelashes {
    min-height: 350px;
    justify-content: stretch;
    align-items: stretch;

    @media #{$mobile} {
      background-image: -webkit-linear-gradient(270deg, #fbf8f4, #fbf8f4) !important;
      background-image: linear-gradient(180deg, #fbf8f4, #fbf8f4) !important;
      min-height: 100px;
    }
    .w-row {
      height: 100%;
      min-height: 350px;
      display: flex;
      @media #{$mobile} {
        flex-direction: column;
        min-height: 100px;
      }
      .col {
        height: 100%;
        min-height: 350px;
        display: flex;
        justify-content: center;
        @media #{$mobile} {
          min-height: 0;
        }

        h3 {
          font-size: 24px;
        }
      }
    }
  }
  .shop-categories-training {
    @media #{$mobile} {
      background-image: -webkit-linear-gradient(270deg, #fbf8f4, #fbf8f4) !important;
      background-image: linear-gradient(180deg, #fbf8f4, #fbf8f4) !important;
    }
  }
  form.add-to-cart {
    flex-wrap: wrap;
    @media #{$mobile} {
      justify-content: center;
    }
  }

  .product-row {
    .productlist-detail-block-big {
      a.product-more-info-button {
        margin-top: 25px;
      }
    }
  }
}

.shop-categories-training {
  @media #{$mobile} {
    background-image: -webkit-linear-gradient(270deg, #fbf8f4, #fbf8f4) !important;
    background-image: linear-gradient(180deg, #fbf8f4, #fbf8f4) !important;
  }
}

.productlist-item {
  .productlist-option-container {
    .productlist-options {
      height: 0;
      @include transition( height 0.5s cubic-bezier(1, 0, 0, 1) );
    }
  }

  .productlist-description-block.shoplist.product-variation {
    flex-flow: column;
    align-content: center;
    align-items: center;

    span.variation-list {
      width: 100%;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1.5;
      margin-top: 5px;
    }
  }
}

.home-separator-section {
  @media #{$thinmobile} {
    padding-right: 15px;
    padding-left: 15px;
  }
  .separator-heading {    
    @media #{$thinmobile} {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

/* Simple page */
body.page-template-default,
body.page-template-template-about-us {
  .subpage-wrapper {
    padding-left: 80px;
    padding-right: 80px;

    @media#{$tablet} {
      padding-left: 20px;
      padding-right: 15px;
    }
    @media#{$mobile} {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media#{$thinmobile} {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .bl-page-title {
    margin-top: 30px;
  }
}

/* Subpage-wrapper fix after 1280 for header */
.subpage-wrapper {
  padding-bottom: 80px;
  @media #{$mediumdesktop} {
    padding-top: 0;
  }
  @media #{$mobile} {
    padding-bottom: 30px;
  }
}

/* Single product */
.single-product {
  .product-image-hide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0s;

    &.on {
      opacity: 1;
      transition: opacity 0.3s $easeInOutExpo;
    }
  }
  .zoomit-zoomed {
    opacity: 0;
    transition: opacity 0.3s $easeInOutExpo;
    &.on {
      opacity: 1;
    }
  }
  .thumbnail-container {
    justify-content: flex-start;
    
    .thumbnail-col {
      flex: none;
      width: 25%;
    }
  }
  form.add-to-cart {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;

    @media #{$thinmobile} {
      flex-direction: column;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
  .productpage-content-container {
    .underline-button-text {
      align-items: center;
      .underline-button-icon {
        margin-left: 0;
        margin-right: 5px;
      }
    }
    .add-to-cart-container {
      &.not-in-stock {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 43px;
        padding-right: 0;
        margin-bottom: 0;
        
        @media #{$mobile} {
          padding-top: 36px;
        }

        .price-block {
          padding-bottom: 43px;
          @media #{$tablet} {
            padding-bottom: 25px;
          }
          @media #{$mobile} {
            padding-bottom: 25px;
          }
          @media #{$thinmobile} {
            padding-bottom: 10px;
          }
        }
      }

      .add-to-cart-button {
        .loading-button {
          display: none;
          margin-left: 4px;

          @media #{$thinmobile} {
            margin-left: 0;
          }
        }

        &.loading {
          .loading-button {
            display: block;
          }
          img.icon-basket {
            display: none;
          }
        }
      }
    }
  }
}

/* Single - product list variations */
.variation-options {
  .option-container {
    .dropdown-toggle {
      height: 0;
      @include transition( height 0.5s cubic-bezier(1, 0, 0, 1) );
    }
  }
}

/* Video */
.video-slide-container {
  margin-bottom: 80px;
  width: calc(100% - 122px);
  left: 61px;
  @media #{$mobile} {
    width: 100%;
    left: 0;
    margin-bottom: 0;
  }
  .video-slide-mask {
    margin-left: 0;
    margin-right: 0;
    .owl-nav {
      width: calc(100% + 122px);
      height: 100%;
      position: absolute;
      top: 0;
      left: -61px;
      z-index: -1;
      @media #{$mobile} {
        /*top: 100%;
        width: 100px;
        height: 40px;
        left: calc(50% - 50px);*/
        display: none;
      }
      .arrow-container-left {
        margin-left: 0;
        @media #{$mobile} {
          display: block;
        }
      }
      .arrow-container-right {
        margin-right: 0;
        @media #{$mobile} {
          display: block;
        }
      }
      .round-button {
        &:focus {
          border:none;
          outline: none;
        }
      }
    }
    .owl-dots {
      display: none;
    }

    &.owl-carousel {
      .owl-item {
        @media #{$mobile} {
          display: none;
        }
        &.selected,
        &:hover  {
          .video-thumb-container:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            width: calc( 100% - 29px );
            height: calc( 100% - 29px );
            background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(36, 48%, 94%, .5)), to(hsla(36, 48%, 94%, .5)));
            background-image: linear-gradient(180deg, hsla(36, 48%, 94%, .5), hsla(36, 48%, 94%, .5));
          }
        }
      }
    }

    &:not(.owl-carousel){
      display: flex;
      flex-flow: row wrap;

      .video-thumb-container {
        width: 16.66%;

        @media #{$tablet}{
          width: 25%;
        }
        @media #{$mobile}{
          display: none;
        }
        @media #{$thinmobile} {
          display: none;
        }

        &:before {
          content: '';
          position: absolute;
          top: 15px;
          left: 15px;
          width: calc( 100% - 29px );
          height: calc( 100% - 29px );
          background-image: none;

          @media #{$tablet}{
            top: 10px;
            left: 10px;
            width: calc( 100% - 19px );
            height: calc( 100% - 19px );
          }
          @media #{$mobile}{
            top: 5px;
            left: 5px;
            width: calc( 100% - 9px );
            height: calc( 100% - 9px );
          }
          @media #{$thinmobile} {
            top: 5px;
            left: 5px;
            width: calc( 100% - 9px );
            height: calc( 100% - 9px );
          }
        }
        
        &.selected:before,
        &:hover:before {
          background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(36, 48%, 94%, .5)), to(hsla(36, 48%, 94%, .5)));
          background-image: linear-gradient(180deg, hsla(36, 48%, 94%, .5), hsla(36, 48%, 94%, .5));
        }
      }
    }

    .play-button-container:hover {
      background-image: none;
    }
  }
}

/* Blog */
.bloglist-section {
  .bloglist-item {
    @media #{$mobile} {
      margin-bottom: 5px;
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      @media #{$mobile} {
        flex-direction: column;
      }
    }
    &:nth-last-of-type(2) {
      @media #{$mobile} {
        margin-bottom: 0;
      }      
    }
  }
}
.single-post {
  #post {
    @media#{$tablet} {
      padding-left: 20px;
      padding-right: 20px;
    }
    /*@media#{$mobile} {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media#{$thinmobile} {
      padding-left: 20px;
      padding-right: 20px;
    }*/
  }
  .container {
    & > .columns {
      & > .w-row {
        & > .w-col-8 {
          padding: 15px;

          a {
            color: $gold;
          }
        }
      }
    }
  }
}

/* Pagination */
.wp-pagenavi {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  line-height: 40px;
  @media #{$smalldesktop} {
    padding-bottom: 30px;
  }
  @media #{$tablet} {
    padding-bottom: 30px;
  }
  @media #{$mobile} {
    padding-bottom: 30px;
  }
  @media #{$thinmobile} {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  span.current {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
    border-color: $gold;
    background-color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
  }
  span.extend {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    border: none;
  }
  a {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
    border: none;
    background-color: $white;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    &:hover {
      background-color: #f0e5ce;
    }
    &.nextpostslink {
      border: 1px solid $gold;
      line-height: 36px;
    }
    &.previouspostslink {
      border: 1px solid $gold;
      line-height: 36px;
    }
  }
}

/* Woocommerce */
.woocommerce {
  form {
    .form-row {
      input.input-text {
        border: none;
        background-color: transparent;
      }
      textarea {
        @media #{$mobile} {
          height: 6em;
          padding-top: 10px;
        }
      }
    }
  }
  
  .woocommerce-Addresses {
    .woocommerce-Address {        
      .table-header {
        justify-content: space-between;
        @media #{$smalldesktop} {
          padding-left: 10px;
          padding-right: 10px;
        }
        @media #{$mobile} {
          padding-left: 10px;
          padding-right: 10px;
        }
        @media #{$tablet} {
          display: flex;
          flex-direction: column;
        }
        @media #{$thinmobile} {
          display: flex;
          flex-direction: column;
        }
        &::before, &::after {
          display: none;
        }
        h3 {
          font-size: 13px;
          font-weight: 500;
        }
      }
      .table-row {          
        address {
          font-style: normal;
          @media #{$smalldesktop} {
            padding-left: 10px;
            padding-right: 10px;
          }
          @media #{$tablet} {
            padding-left: 10px;
            padding-right: 10px;
          }
          @media #{$mobile} {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

/* Cart */
body.woocommerce-cart {
  .subpage-wrapper {
    @media #{$mediumdesktop} {
      padding-top: 0;
    }
  }
}

.woocommerce,
.woocommerce-page,
.page-template-template-webshop {
  .woocommerce-message {
    background-color: $light-green;
    color: $green;
    padding: 20px 110px 20px 15px;
    border-top: none;
    line-height: 1.6;
    margin: 15px 15px 0 15px;
    @media #{$thinmobile} {
      padding: 15px 15px 65px 15px;
      margin-bottom: 15px;
    }
    &::before {
      display: none;
    }
    a {
      color: $gold;
      &.button {
        float: none;
        position: absolute;
        right: 15px;
        top: calc(50% - 20px);
        height: 40px;
        padding: .618em 1em;
        padding-top: 0px;
        padding-bottom: 0px;
        border: 1px solid $gold;
        border-radius: 20px;
        background-color: $white;
        color: $black;
        font-size: 13px;
        line-height: 40px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media #{$thinmobile} {
          top: auto;
          bottom: 15px;
          right: auto;
          left: calc(50% - 42px);
        }
        &:hover {
          background-color: #f0e5ce;
        }
      }
    }
    .video_link {
      font-size: 13px;
    }
  }
  .woocommerce-error {
    border-top: none;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px 15px;
    background-color: #ffeee9;
    color: $pink;
    @media #{$tablet} {
      margin-left: 0;
      margin-right: 0;
    }
    @media #{$mobile} {
      margin-left: 0;
      margin-right: 0;
    }
    &::before {
      display: none;
    }
    li {      
      &::before {
        display: none;
      }

      &:first-of-type {
        margin-top: 15px;
      }
    }
    a {
      color: $gold;
      &.button {
        float: none;
        position: absolute;
        right: 15px;
        top: calc(50% - 20px);
        height: 40px;
        padding: .618em 1em;
        padding-top: 0px;
        padding-bottom: 0px;
        border: 1px solid $gold;
        border-radius: 20px;
        background-color: $white;
        color: $black;
        font-size: 13px;
        line-height: 40px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media #{$thinmobile} {
          top: auto;
          bottom: 15px;
          right: auto;
          left: calc(50% - 42px);
        }
        &:hover {
          background-color: #f0e5ce;
        }
      }
    }
  }
}

.woocommerce, 
.woocommerce-page {
  button.hidden-content {
    display: none;
  }
  .table-header {
    @media #{$smalldesktop} {
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      margin-top: 0;
    }
  }
  .table-row {
    @media #{$smalldesktop} {
      padding-left: 0;
      padding-right: 0;
    }
    @media #{$mobile} {
      align-items: center;
    }
  }
  .table-footer {
    @media #{$smalldesktop} {
      padding-left: 0;
      padding-right: 0;
    }
    .cartcoupon {   
      input[type="text"] {
        margin-left: 15px;
        @media #{$tablet} {
          margin-left: 0;
        }
        @media #{$mobile} {
          margin-left: 0;
        }
      }
    }
  }
  .woocommerce-cart-form__cart-item {
    .product-name {
      flex-direction: column;
      align-items: flex-start;
      max-width: 240px;
      @media #{$mobile} {
        max-width: 100%;
        align-items: center;
      }
      a {
        &.remove.table-action {
          width: auto;
          height: auto;
          font-size: 11px;
          line-height: 18px;
          font-weight: 500;
          color: $black !important;
          &:hover {
            color: #867041;
            background: transparent !important;
          }
        } 
      }
      span.gift-product {
        width: auto;
        height: auto;
        font-size: 11px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;
        letter-spacing: 2.5px;
        color: $black !important;
      }
    }
    .product-quantity {
      @media #{$thinmobile} {
        margin-bottom: 15px;
      }
      .quantity {
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
        .qty {
          width: 40px;
          height: 40px;
          margin-bottom: 0px;
          padding: 0px;
          border: 1px solid $gold;
          background-color: #fbf8f4;
          font-size: 14px;
          text-align: center;
          letter-spacing: 0.75px;
        }
      }
    }

    &.double-row {
      min-height: 180px;

      ul.variation-infos {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 0;

        @media #{$thinmobile} {
          margin-top: 10px;
          text-align: center;
        }

        li {
          margin-bottom: 0;
          font-size: 10px;
          text-transform: uppercase;
          line-height: 1.5;

          &:before {
            display: none;
          }

          span.attribute {
            font-weight: bold;
          }
        }
      }
    }
  }
  .woocommerce-cart-form {
    .w-col-stack {      
      @media #{$tablet} {
        float: none;
      }
      @media #{$mobile} {
        float: none;
      }
    }
    .cart-collaterals {
      float: right;
      width: 33.33%;
      @media #{$tablet} {
        float: none;
        width: 100%;
      }
      @media #{$mobile} {
        float: none;
        width: 100%;
      }
      .cart_totals {
        float: none;
        width: 100%;
        .cart-row {
          .radio-checkbox-form-block {
            display: flex;
            align-items: center;
            flex-flow: wrap;
            label {
              margin-left: 10px;
              margin-bottom: 0;
              font-weight: 400;
            }

            .delivery-days {
              display: block;
              width: 100%;
              font-size: 10px;
              text-transform: uppercase;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .cart-row.shipping {
    .radio-checkbox-form-block {
      display: flex;
      align-items: center;
      flex-flow: wrap;

      label {
        margin-left: 10px;
      }

      .delivery-days {
        display: block;
        width: 100%;
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 5px;
      }
    }
  }
}

/* Checkout */
body.woocommerce-checkout {
  label[for="tax_number"] > span.optional {
    display: block;
  }

  .subpage-wrapper {
    @media #{$mediumdesktop} {
      padding-top: 0;
    }
  }
  
  #coupon_code {
    height: 2em;
  }
}
.woocommerce, 
.woocommerce-page {
  button.button {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    border: 1px solid $gold;
    border-radius: 20px;
    background-color: $white;
    color: $black;
    font-size: 13px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    &:hover {
      background-color: #f0e5ce;
    }
    &:focus {
      outline: none;
    }
  }
  .woocommerce-info {
    background-color: $light-green;
    color: $green;
    padding: 10px 15px;
    border-top: none;
    margin: 15px;
    line-height: 2.6;
    @media #{$tablet} {
      margin: 15px 0;
    }
    @media #{$mobile} {
      margin: 15px 0;
    }
    @media #{$thinmobile} {
      display: flex;
      flex-direction: column-reverse;
    } 
    &::before {
      display: none;
    }
  }  
  form.checkout_coupon {
    margin: 0 15px;
    border: none;
    border-radius: 0;
    background-color: #f7f1e8;
    padding: 20px 20px 0 20px;
    p {
      line-height: 1.4;
    }
    .table-row {
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
      border-top: 1px solid $white;
      @media screen and (max-width: 549px) {
        flex-direction: column;
        padding: 10px 0px;
      }
      .table-column {
        @media screen and (max-width: 549px) {
          width: 100%;
        }
        .form-row {
          padding-left: 0;
          padding-right: 0;
          input[type="text"] {
            margin-left: -15px;
            padding: 0px;
            border-style: none;
            border-top-width: 1px;
            border-top-color: #dbdbdb;
            border-bottom-width: 1px;
            border-bottom-color: $gold;
            background-color: transparent;
            letter-spacing: 0.75px;
            @media screen and (max-width: 549px) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  form {
    .form-row {
      padding: 2px 15px;
      width: 100%;
      border-left: 1px solid transparent;
      @media #{$smalldesktop} {
        padding: 3px;
      }
      @media #{$tablet} {
        padding: 3px;
      }
      @media #{$mobile} {
        padding: 3px;
      }
      &.woocommerce-invalid {
        .required {
          color: $pink;
        }
      }
      .required {
        color: $black;
      }
      label {
        line-height: 1.3;
      }
    }
    .table-form {
      margin-left: 0;
    }
    textarea {
      border: none;
      padding: 0;
      background-color: transparent;
    }
    .woocommerce-form__label, 
    .woocommerce-form__label-for-checkbox,
    .checkbox {
      width: auto;
      height: auto;
      background-color: transparent;
      margin-bottom: 0;
      margin-left: 7px;
      input[type="checkbox"] {
        height: 22px;
        width: 22px;
        margin-right: 10px;
        vertical-align: middle;
      }
      span {
        font-size: 13px;
        font-weight: 500;
      }
    }
    .woocommerce-shipping-fields {
      border-bottom: 1px solid #f7f1e8;
      margin-left: 15px;
      margin-right: 15px;
      @media #{$tablet} {
        margin-left: 0;
        margin-right: 0;
      }
      @media #{$mobile} {
        margin-left: 0;
        margin-right: 0;
      }
      .table-wrapper {
        padding: 0;
        .woocommerce-form__label-for-checkbox {
          margin-left: 0;
          input {
            margin-left: 0;
          }
        }
      }
    }
    .woocommerce-additional-fields {
      .table-wrapper {
        padding-top: 0;
        .woocommerce-additional-fields__field-wrapper {
          .table-row {
            &:first-child {
              border-top: none;
            }            
          }
        }
      }
    }

    .file-attachment-container {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-start;

      .document-name {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        flex: 1;
      }
      .input-container {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        flex: 1;
      }
    }
  }  
  .table-header {
    h3 {
      margin-bottom: 0;
    }
  }

  form.checkout {
    .table-row {
      margin-bottom: 0;
      border-left: 1px solid transparent;
      @media #{$tablet}, #{$mobile} {
        min-height: 90px;
      }
      &.error {
        border-left-color: $pink;
        color: $pink;
        span {
          color: $pink;
        }
      }

      label {
        font-weight: normal;
        margin-bottom: 0;
      }
      
      a:hover {
        color: #867041;
      }

      &.woocommerce-invalid {
        border-left: 1px solid $pink;
        
        label {
          color: $pink;
        }
      }

      .gift-product {
        display: block;
        font-size: 11px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;
        letter-spacing: 2.5px;
        color: $black !important;
      }

      &.double-row {
        min-height: 180px;

        ul.variation-infos {
          margin-bottom: 5px;
          margin-top: 5px;
          padding-left: 0;

          @media #{$thinmobile} {
            margin-top: 10px;
            text-align: center;
          }

          li {
            margin-bottom: 0;
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1.5;

            &:before {
              display: none;
            }

            span.attribute {
              font-weight: bold;
            }
          }
        }
      }
    }
    #payment {
      .woocommerce-privacy-policy-and-conditions-wrapper, 
      .woocommerce-terms-and-conditions-wrapper {
        @media #{$thinmobile} {
          padding-left: 10px;
          padding-right: 10px;
        }  
        .form-row {
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          margin-bottom: 0;
          .checkbox {
            margin-top: 0;
            margin-left: 0;
            text-align: left;
            .woocommerce-privacy-policy-and-conditions-checkbox-text, 
            .woocommerce-terms-and-conditions-checkbox-text {
              font-size: 15px;
              font-weight: 400;
              display: inline;
              vertical-align: middle;              
            }

            a {
              color: $gold;
            }
          }
        }
        .woocommerce-privacy-policy-text {
          font-size: 13px;
          p {
            margin-bottom: 0;
            padding-left: 36px;
            @media #{$mobile} {
              padding-left: 0;
            }
          }
        }
      }
      .table-row {
        justify-content: center;
        .table-column {
          align-items: flex-start;
        }
      }
    }
  }
  #payment {
    background: transparent;
    .wc_payment_method {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media #{$thinmobile} {
        flex-direction: column;
      }
      .table-column {
        display: flex;
        justify-content: flex-start;
        @media #{$thinmobile} {
          flex-direction: row;
          align-items: center;
        }
        label {
          margin-bottom: 0;
          margin-left: 10px;
        }
      }
      div.payment_box {
        background-color: transparent;
        margin: 0;
        @media #{$thinmobile} {
          padding: 5px 0;
        }
        &::before {
          display: none;
        }
      }
    }
    #place_order {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 0;
      border: 1px solid $gold;
      border-radius: 20px;
      background-color: $white;
      color: $black;
      font-size: 13px;
      line-height: 40px;
      font-weight: 400;
      width: auto;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #f0e5ce;
      }
    }
  }
}

/* Thankyou page */
.woocommerce {
  .woocommerce-order {
    padding-left: 15px;
    padding-right: 15px;

    @media#{$tablet} {
      padding-left: 0;
      padding-right: 0;
    }
    @media#{$mobile} {
      padding-left: 0;
      padding-right: 0;
    }
    @media#{$thinmobile} {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .woocommerce-order-pay {
    form {
      padding-left: 30px;
      padding-right: 30px;

      button {
        display: flex;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        align-items: center;
        border: 1px solid $gold;
        border-radius: 20px;
        background-color: $white;
        font-size: 13px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }

  .woocommerce-order,
  .woocommerce-order-pay {
    padding-top: 20px;

    p {
      padding-right: 30px;
      padding-left: 30px;
      @media #{$smalldesktop} {
        padding-right: 15px;
        padding-left: 15px;
      }
      @media #{$tablet} {
        padding-right: 10px;
        padding-left: 10px;
      }
      @media #{$mobile} {
        padding-right: 15px;
        padding-left: 15px;
      }
      @media #{$thinmobile} {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .woocommerce-notice--success {
      text-align: center;
      padding-right: 30px;
      padding-left: 30px;
      @media #{$smalldesktop} {
        padding-right: 15px;
        padding-left: 15px;
      }
      @media #{$tablet} {
        padding-right: 10px;
        padding-left: 10px;
      }
      @media #{$mobile} {
        padding-right: 15px;
        padding-left: 15px;
      }
      @media #{$thinmobile} {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .woocommerce-order-overview {
      margin-bottom: 60px;
      .table-footer {
        @media #{$mobile} {
         flex-direction: column;
         padding: 10px;
        }
        .table-column {
          display: block;
          @media #{$mobile} {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            min-height: 40px;
          }
          @media #{$thinmobile} {
            padding-right: 10px;
            padding-left: 10px;
          }
          strong {
            margin-left: 5px;
          }
        }
      }

      &.order-pay {
        margin-top: 60px;
      }
    }
    .woocommerce-order-details {
      .woocommerce-order-details__title {
        margin-top: 0px;
        margin-bottom: 30px;
        color: $gold;
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        padding-right: 30px;
        padding-left: 30px;
        @media #{$smalldesktop} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$tablet} {
          padding-right: 10px;
          padding-left: 10px;
        }
        @media #{$mobile} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$thinmobile} {
          padding-right: 20px;
          padding-left: 20px;
        }
      }
      .woocommerce-table--order-details {
        .table-row {
          &.discount {
            .table-column:nth-child(2) {
              flex-direction: row;
              justify-content: flex-end;
            }        
          }
        }
        .table-column {
          //display: block;
          &:nth-child(2) {
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
          }
          &.product-total {
            display: block;
            text-align: right;
          }
          &.product-name {
            .product-quantity {
              white-space: nowrap; 
              margin-right: 10px;
              margin-left: 10px;
            }
            /*.wc-item-meta {
              li {
                line-height: 20px;
                &::before {
                  top: 6px;
                }
                p {
                  display: inline;
                  padding-left: 5px;
                  padding-right: 5px;
                }
              }
            }*/

            ul.wc-item-meta {
              margin-bottom: 5px;
              margin-top: 5px;
              padding-left: 0;

              @media #{$thinmobile} {
                margin-top: 10px;
                text-align: center;
              }

              li {
                margin-bottom: 0;
                font-size: 10px;
                text-transform: uppercase;
                line-height: 1.5;

                &:before {
                  display: none;
                }

                p {
                  display: inline-block;
                  padding: 0;
                }
              }
            }
          }
        }
      }
      
      /* Order recived - Simplepay */
      .order-again {
        display: none;
      }

      header {
        h2 {
          padding-right: 30px;
          padding-left: 30px;
          
          @media #{$smalldesktop} {
            padding-right: 15px;
            padding-left: 15px;
          }
          @media #{$tablet} {
            padding-right: 15px;
            padding-left: 15px;
          }
          @media #{$mobile} {
            padding-right: 10px;
            padding-left: 10px;
          }
          @media #{$thinmobile} {
            padding-right: 20px;
            padding-left: 20px;
          }
        }
      }

      table.shop_table.shop_table_responsive.customer_details {
        display: block;
        border: none;
        margin-top: 30px;

        tbody {
          display: block;
          width: 100%;
        }

        tr {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          min-height: 90px;
          padding: 2px 30px;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          border-top: 1px solid #f7f1e8;
          background-color: $white;

          @media #{$smalldesktop} {
            padding-right: 15px;
            padding-left: 15px;
          }
          @media #{$tablet} {
            padding-right: 15px;
            padding-left: 15px;
          }
          @media #{$mobile} {
            padding-right: 10px;
            padding-left: 10px;
          }
          @media #{$thinmobile} {
            padding-right: 20px;
            padding-left: 20px;
          }

          th, td {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            line-height: 18px;
            width: 50%;
            border-top: none;
            padding: 0;
          }

          td {
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            background: transparent;
            
            &:before {
              @media #{$tablet} {
                display: none;
              }
              @media #{$mobile} {
                display: none;
              }
              @media #{$thinmobile} {
                display: none;
              }
            }
          }
        }
      }
    }
    .woocommerce-customer-details {
      .woocommerce-columns--2 {
        .woocommerce-column {
          width: 50%;
          @media #{$mobile} {
            width: 100%;
          }
          &.woocommerce-column--2 {
            .woocommerce-column__title {
              padding-left: 0;
            }
            address {
              padding-right: 15px;
              padding-left: 15px;
              @media #{$mobile} {
                padding-right: 10px;
                padding-left: 10px;
              }
              @media #{$thinmobile} {
                padding-right: 20px;
                padding-left: 20px;
              }
            }
          }
        }
      }
      .woocommerce-column__title {
        padding-right: 15px;
        padding-left: 15px;
        color: $black;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media #{$smalldesktop} {
          padding-right: 15px;
          padding-left: 15px !important;
        }
        @media #{$tablet} {
          padding-right: 15px;
          padding-left: 15px !important;
        }
        @media #{$mobile} {
          padding-right: 10px;
          padding-left: 10px !important;
        }
      }
      address {
        padding: 15px 30px;
        border: none;
        border-top: 1px solid #f7f1e8;
        @media #{$smalldesktop} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$tablet} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$mobile} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$thinmobile} {
          padding-right: 20px;
          padding-left: 20px;
        }
        .woocommerce-customer-details--phone, 
        .woocommerce-customer-details--email {
          &::before {
            line-height: inherit;
          }
        }
      }
    }
  }
}

/* Forms */
form.bl-form {
  .table-row {
    &.error {
      border-left: 1px solid $pink;
      color: $pink;
    }
  }

  .error-text {
    border-top: none;
    padding: 10px 15px;
    margin-bottom: 30px;
    display: block;
    background-color: #ffeee9;
    color: $pink;

    .text {
      line-height: 32px;
    }

    &.registration {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  
  .checkbox-label {
    a {
      color: $gold;
    }    
  }
}

form.wpcf7-form {
  .table-row.bl-acceptance-row {
    .wpcf7-list-item {
      margin-left: 0;

      input[type="checkbox"] {
        width: 22px;
        height: 22px;
        margin-left: 0;
        margin-top: 5px;
        margin-right: 5px;
        position: relative;
        top: 6px;
      }

      a {
        color: $gold;
      }
    }
  }
}

/* Login */
.loading-animation-button {
  padding-right: 44px;
  position: relative;
  @media #{$thinmobile} {
    padding-right: 34px;
  }
  &.loading {    
    .chart-button-icon {
      opacity: 0;
    }
    .loading-button {
      opacity: 1;
    }
  }
  .chart-button-icon {
    opacity: 1;
    position: absolute;
    top: 1px;
    right: 11px;
    @media #{$thinmobile} {
      top: -2px;
    }
  }
  .loading-button {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 16px;
    @media #{$thinmobile} {
      top: 5px;
      right: 9px;
    }
  }
}

/* Spinner */
$inner: 18px;
$border: $inner/5;
$size: $inner + $border * 2;
@mixin circle($color,$colorOpt,$duration:2s) {
  border-top-color: $color;
  border-bottom-color: $colorOpt;
  animation: spin $duration linear infinite;
}
.loading-button, .ajax-loader {
  position: relative;
  width: $inner;
  height: $inner;
  // background: rgba(MistyRose,0.2);
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border: $border solid transparent;
    border-radius: 50%;
    left: -$border;
    top: -$border;
    width: 100%;
    height: 100%;
  }
  &::after {
    @include circle($gold,transparent,1s);
  }
  &::before {
    @include circle($black,transparent);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Profile - Myaccount */
.woocommerce {
  .woocommerce-MyAccount-navigation {
    margin-bottom: 60px;
    ul {
      @media #{$mobile} {
        padding-left: 0;
      }
    }
    .woocommerce-MyAccount-navigation-link {
      text-transform: uppercase;
      font-size: 13px;
      margin-bottom: 0;
      &:hover {
        a {
          color: $gold;
        }      
      }
      &::before {
        display: none;
      }
      a {
        @include transition(color 200ms ease);
      }

      &.is-active {
        a {
          color: $gold;
        }
      }
    }
  }
  .woocommerce-MyAccount-content {
    padding-top: 61px;
    margin-bottom: 50px;
    @media #{$mobile} {
      padding-top: 0;
      margin-bottom: 30px;
    }
    h2 {      
      margin-top: 0px;
      margin-bottom: 30px;
      color: $gold;
      font-size: 28px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
    a {
      color: $gold;
    }
    label {
      font-weight: 400;
      margin-bottom: 0;
    }
    mark {
      font-weight: 600;
    }
    .rounded-button {
      display: flex;
      background-color: $white;
      color: $black;
      font-size: 13px;
      line-height: 40px;
      font-weight: 400;
      border: 1px solid $gold;
      border-radius: 20px;
      &:hover {
        background-color: #f0e5ce;
      }
    }
    .table-row {
      margin-bottom: 0;
    }
    .woocommerce-MyAccount-orders {
      .table-header {
        font-size: 12px;
        @include lets(150); 
        @media #{$mobile} {
          display: none;
        }
      }
      .woocommerce-orders-table__row {
        @media #{$mobile} {
          flex-direction: column;
          padding: 15px;
        }
        .table-column {       
          @media #{$mobile} {
            width: 100%;
            justify-content: center;
            text-align: center;
            min-height: 36px;
          }
        }
        .woocommerce-orders-table__cell-order-total {
          display: block;
          white-space: nowrap;      
          @media #{$mobile} {
            display: flex;
          }
          .woocommerce-Price-amount {  
            display: block;  
            @media #{$mobile} {
              display: inline;
            }
          }
        }
        .woocommerce-orders-table__cell-order-actions {
          .rounded-button {
            @media #{$smalldesktop} {
              @include lets(100);
              font-size: 13px;
              padding: 0 5px;
            }
            @media #{$tablet} {
              @include lets(10);
              font-size: 12px;
              padding: 0 5px;
            }
          }
        }
      }
    }
    .woocommerce-table--order-details {
      .table-column {
        //display: block;
        &:nth-child(2) {
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
        }
        &.product-total {
          display: block;
          text-align: right;
        }
      }
    }
    .woocommerce-customer-details {
      .woocommerce-columns--2 {
        .woocommerce-column {
          width: 50%;
          @media #{$mobile} {
            width: 100%;
          }
          &.woocommerce-column--2 {
            .woocommerce-column__title {
              padding-left: 0;
            }
            address {
              padding-right: 15px;
              padding-left: 15px;
              @media #{$mobile} {
                padding-right: 10px;
                padding-left: 10px;
              }
              @media #{$thinmobile} {
                padding-right: 20px;
                padding-left: 20px;
              }
            }
          }
        }
      }
      .woocommerce-column__title {
        margin-top: 0;
        padding-right: 15px;
        padding-left: 15px;
        color: $black;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media #{$smalldesktop} {
          padding-right: 15px;
          padding-left: 15px !important;
        }
        @media #{$tablet} {
          padding-right: 15px;
          padding-left: 15px !important;
        }
        @media #{$mobile} {
          padding-right: 10px;
          padding-left: 10px !important;
        }
      }
      address {
        padding: 15px 30px;
        border: none;
        border-top: 1px solid #f7f1e8;
        @media #{$smalldesktop} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$tablet} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$mobile} {
          padding-right: 15px;
          padding-left: 15px;
        }
        @media #{$thinmobile} {
          padding-right: 20px;
          padding-left: 20px;
        }
        .woocommerce-customer-details--phone, 
        .woocommerce-customer-details--email {
          &::before {
            line-height: inherit;
          }
        }
      }
    }
    .woocommerce-message {
      a.button {
        @media #{$thinmobile} {
          position: relative;
          bottom: auto;
          left: auto;
        }
      }
    }

    /* My videos */
    .my-videos {
      .my-video {
        margin-bottom: 100px;

        .video-wrapper {
          /*position: relative;
          padding-bottom: 56.25%;
          height: 0;*/

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/* Courses */
#training-courses-info-overlay.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  z-index: 1000;
  background-color: rgba(34, 31, 32, 0.95);
}

#courses {
  .training-courses-filter-row {
    .training-courses-filter-form {
      width: 100%;
      display: flex;
      margin-bottom: 0;
      @media #{$mobile} {
        flex-direction: column;
      }
    }
  }
  
  .table-title {
    text-align: center;
  }

  .table-price {
    .booking {
      color: $grey;
      font-size: 11px;
      font-weight: bold;
    }
  }

  .training-information {
    height: 0;
    &.open {
      overflow: visible;
      position: fixed;
      z-index: 1001;
      width: 600px;
      height: 600px;
      top: calc((100vh - 600px) / 2);
      left: calc((100vw - 600px) / 2);
      border-radius: 100%;
      align-items: center;
      background-color: #e9dfd9;

      p {
        font-weight: 300;

        @media (min-width: 768px) {
          line-height: 28px;
        }
      }

      .traning-information-close.add-training-to-cart {
        position: static;
        width: auto;
        display: inline-block;
        margin: 10px auto;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
        @media (max-width: 768px) {
          font-size: 10px;
        }
      }

      @media #{$mobile} {
        width: 80%;
        height: auto;
        top: 15vh;
        left: 10%;
        border-radius: 20px;
      }
    }
  }

  .add-to-cart-course {
    a.add-to-cart-button {
      line-height: 1.5;

      .loading-button {
        display: none;
        margin-left: 10px;
      }

      &.loading {
        .loading-button {
          display: block;
        }
        span.chart-button-icon {
          display: none;
        }
      }
    }
  }
}

/* Embed course list */
.training-courses.embed-list {
  padding: 30px 0;

  .training-courses-filter-row {
    .training-courses-filter-form {
      width: 100%;
      display: flex;
      margin-bottom: 0;
      @media #{$mobile} {
        flex-direction: column;
      }
    }
  }

  .table-price {
    .booking {
      color: $grey;
      font-size: 11px;
      font-weight: bold;
    }
  }

  .training-information {
    height: 0;
    @include transition( height 0.5s cubic-bezier(0.19, 1, 0.22, 1) );
    &.open {
      @media #{$mobile} {
        height: 400px !important;
      }
    }
  }

  .add-to-cart-course {
    a.add-to-cart-button {
      line-height: 1.5;

      .loading-button {
        display: none;
        margin-left: 10px;
      }

      &.loading {
        .loading-button {
          display: block;
        }
        span.chart-button-icon {
          display: none;
        }
      }
    }
  }
}

/* Simple button */
.simple-button-container {
  display: flex;
  justify-content: center;
}

/* Sidebar */
.sidebar-menu-container {
  .sidebar-button {
    @media #{$mobile} {
      justify-content: space-between;
    }
  }
}
.sidebar-wrapper {

  @media #{$smalldesktop}, #{$largedesktop} {
    height: auto !important;
  } 

  .sidebar-dropdown {
    .dropdown-toggle {
      height: 0;
      @include transition( height 0.5s cubic-bezier(1, 0, 0, 1) );
    }
  }

  @media #{$mobile} {
    @include transition( height 0.5s cubic-bezier(1, 0, 0, 1) );
  }
}

body.page-template-template-webshop {
  .sidebar-wrapper.open {
    @media #{$mobile} {
      height: auto;
    }
  }
}

/* Product image */
.productlist-image-container {
  img {
    transform: scale3d(1, 1, 1);
    transform-style: preserve-3d;
    @include transition( transform 0.5s ease-in-out );
  }

  &:hover {
    img {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}

/* Product list */
.productlist-wrapper {  
  h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 30px;
    color: $gold;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  form.add-to-cart {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    .add-to-cart-button {
      .loading-button {
        display: none;
        margin-left: 4px;

        @media #{$thinmobile} {
          margin-left: 0;
        }
      }

      &.loading {
        .loading-button {
          display: block;
        }
        img.icon-basket {
          display: none;
        }
      }
    }
  }
}

.option-button-conainer {
  .option-button.not-avaiable {
    /*opacity: 0.5;*/
    display: none;
  }

  .delete-selection {
    display: none;
  }

  &.has-selection {
    .delete-selection {
      display: inline-block;
    }
  }
}

/* Product single */
.variation-options {
  .option-container {
    border-left: 1px solid $gray-light;
    &.error {
      border-color: $pink;
      color: $pink;
    }
  }
}

/* Contact */
.bl-map {
  width: 100%;
  min-height: 400px;
}
.contact-infos {
  p {
    margin-bottom: 20px;
    line-height: 1.2;
    padding-left: 35px;
    position: relative;
  }
  a {
    color: $gold;
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    &.phone {
      background: url('/wp-content/uploads/2018/10/icon-phone@2x.png') 0 0 / contain no-repeat;
    }
    &.mail {
      background: url('/wp-content/uploads/2018/10/icon-mail@2x.png') 0 0 / contain no-repeat;
    }
    &.map-marker {
      background: url('/wp-content/uploads/2018/10/icon-map-marker@2x.png') 0 0 / contain no-repeat;
    }
  }
}

.contact-form-wrapper {
  .wpcf7 {
    .table-row {
      @media #{$thinmobile} {
        flex-direction: column;
      }
      .table-column {        
        @media #{$thinmobile} {
          min-height: 30px;
        }
      }

      &.error {
        border-left: 1px solid $pink;

        label {
          color: $pink;
        }
      }
    }
    label {
      font-weight: 400;
    }
    input, textarea {
      width: 100%;
      border: none; 
      background-color: transparent;
      
      &:focus {
        outline: none;
      }
    }
    .w-button {
      position: relative;
      input[type="submit"] {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        cursor: pointer;
        margin-left: -40px;
        margin-right: -20px;
        padding-left: 30px;
        padding-right: 23px;
        width: 140px;
        height: 100%;
      }
      &:hover {
        .ajax-loader {
          background: #f0e5ce;
        }          
      }
      .ajax-loader {
        position: absolute;
        right: 10px;
        background: $white;
        width: 14px;
        height: 14px;
      }
    }
    textarea {
      margin-top: 34px;
      margin-bottom: 34px;
      height: 160px;
      @media #{$thinmobile} {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    span.wpcf7-not-valid-tip {
      color: $pink;
      font-size: 12px;
      margin-top: 5px;
    }

    .wpcf7-response-output {
      margin: 0;

      &.wpcf7-validation-errors {
        padding: 10px 15px;
        display: block;
        background-color: #ffeee9;
        color: $pink;
        border: none;
      }

      &.wpcf7-mail-sent-ok {
        background-color: #dcf6e7;
        color: #146636;
        padding: 20px 110px 20px 15px;
        border-top: none;
        line-height: 1.6;
        border: none;
      }
    }
  }
}

/* About us */
.trainer-short {
  @media #{$mobile} {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  @media #{$thinmobile} {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  &.center {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* 404 */
.wrapper-404 {
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .number-404 {
    font-size: 100px;
    color: $gold;
    margin-bottom: 40px;
  }
  .text-404 {
    font-size: 30px;
  }
}

/* Shorcodes */
.vertical-line-container {
  .wpb_wrapper {
    height: 100%;

    .wpb_text_column {
      height: 100%;
    }

    .vertical-line {
      background: $gold;
      width: 1px;
      height: 100%;
      position: relative;
      top: 0;
      display: block;
      text-align: center;
      margin: 0 auto;
      @media #{$mobile} {
        width: 100%;
        height: 1px;
      }
    }
  }
}

/* Footer */
footer {
  z-index: 1;
  .footer-wrapper {
    .form-block {
      margin-bottom: 0;
    }

    .footer-widget {
      ul {
        padding-left: 0;
        li {
          &::before {
            display: none;
          }
          a {
            font-size: 13px;
            line-height: 32px;
            display: inline-block;
            position: relative;
            margin-bottom: 5px;
            &:hover {
              &::after {
                width: 100%;
              }
            }
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background-color: $gold;
              @include transition(width 0.3s ease);
            }
          }
        }
      }
    }
    .form {
      flex-wrap: wrap;
      div.terms-and-condition {
        width: 100%;
        label {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 15px;
        }
        .w-checkbox-input {
          width: 22px;
          height: 22px;
          margin-left: 0;
          margin-top: 5px;
          margin-right: 5px;
        }
        a {
          color: $gold;
        }
      }
      .footer-newsletter-field.error {
        border-bottom-color: $pink;
      }
      .footer-newsletter-field {
        width: calc(50% - 50px);
        @media #{$mobile} {
          width: calc(50% - 40px);
        }
        @media #{$thinmobile} {
          width: calc(50% - 30px);
        }
      }
      .error-text {
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 20px;
        background-color: #ffeee9;
        color: $pink;
        &.success {
          background-color: $light-green;
          color: $green;
        }
      }

      &.with-topic {
        input.footer-newsletter-field {
          width: calc(50% - 15px);
          margin-right: 0;
          margin-bottom: 20px;

          @media #{$thinmobile} {
            width: calc(50% - 5px);
          }

          &.newsletter-name {
            margin-right: 30px;

            @media #{$thinmobile} {
              margin-right: 10px;
            }
          }
        }
        select.footer-newsletter-field {
          -webkit-appearance: none;
          -webkit-border-radius: 0px;
          width: calc(100% - 30px - 40px);
          margin-right: 30px;

          @media #{$thinmobile} {
            width: calc(100% - 10px - 40px);
            margin-right: 10px;
          }
        }
      }
    }
  }
  .footer-paragraph {
    margin-bottom: 15px;
  }
  .subfooter {
    .copyright-container {
      p {
        margin-bottom: 0;
      }
    }
    .credits-container {
      &:hover {
        .credits-overflow-container {
          transform: translateY(42px);
        }
      }
      .credits-overflow-container {
        @include transition(transform 0.5s $easeInOutExpo);
        .credit-logos {
          img {
            max-width: 33px;
          }
        }
      } 
    }
  }
}
.cookies {
  transition: transform 0.5s $easeInOutExpo;
  transform: translateY(100px);

  &.cookie-in {
    transform: none;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.only-mobile {
  display: none;

  @media #{$mobile} {
    display: flex;
  }
}

.mmwoo_credit {
  display: none;
}

// Checkout PAGE - inputfield CSS //

.woocommerce form .form-row input.input-text {
  border: 1px solid #d2bc8f !important;
    padding: 0px 10px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d2bc8f !important;
    padding: 5px 10px;
    height: 40px;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 7px;
}
@media (max-width: 479px) {
    .bl-checkout-form div.table-column {
      padding-right: 10px;
      padding-left: 10px;
  }
    .bl-checkout-form div.table-column._30percent {
      width: 50%;
    }
}

@import "popup";
@import "zoomit";
@import "bestbrows";
@import "select2";
